{%- unless template == 'index' or template == 'cart' -%}
    <ol class="breadcrumb pull-left" role="navigation" aria-label="breadcrumbs">
        <li>
            <a href="{{ "/" | absolute_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
        </li>
        {%- if template contains 'vendor' -%}
            <li class="active">{{ vendor.url }}</li>
        {%- elsif template contains 'product' -%}
            {%- if collection -%}
                {%- for parent in collection.parents -%}
                    <li>
                        {%- capture url -%}{{ parent.handle | absolute_url }}{%- endcapture -%}
                        {{ parent.title | link_to: url }}
                    </li>
                {%- endfor -%}
            {%- endif -%}
            <li class="active">{{ product.title }}</li>
        {%- elsif template contains 'collection' and collection.handle -%}
            {%- if current_tags -%}
                {%- capture url -%}{{ collection.handle | absolute_url }}{%- endcapture -%}
                <li>{{ collection.title | link_to: url }}</li>
                {%- comment -%}
                    Loop through tags and our custom tag array to strip out prepended tag categories if they exist.
                    snippet/advanced-tag-loop.liquid is required for this to work.
                {%- endcomment -%}
                {%- for tag in current_tags -%}
                    {%- if forloop.first -%}
                        {%- assign additional_tag = false -%}
                    {%- else -%}
                        {%- assign additional_tag = true -%}
                    {%- endif -%}
                    {%- comment -%}
                        Track whether the tag gets printed
                    {%- endcomment -%}
                    <li class="active">
                        {%- for cat_item in collection.all_tags -%}
                            {%- unless cat_item == '' -%}
                                {%- if tag == cat_item -%}
                                    {%- if additional_tag -%}
                                        &nbsp;+&nbsp;
                                    {%- endif -%}
                                    {%- include 'tag-label', tag: cat_item -%}
                                    {{ tag_label | escape }}
                                {%- endif -%}
                            {%- endunless -%}
                        {%- endfor -%}
                    </li>
                    {%- comment -%}
                        We have a regular tag that wasn't printed, so print it now
                    {%- endcomment -%}
                {%- endfor -%}
            {%- else -%}
                {%- if collection -%}
                    {%- for parent in collection.parents -%}
                        {% if forloop.last == true %}
                            <li class="active">
                                {{ parent.title }}
                            </li>
                        {% else %}
                            <li>
                                {%- capture url -%}{{ parent.handle | absolute_url }}{%- endcapture -%}
                                {{ parent.title | link_to: url }}
                            </li>
                        {% endif %}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
        {%- elsif template == 'blog' -%}
            {%- if current_tags -%}
                {%- assign blog_url = blog.url | absolute_url -%}
                <li>{{ blog.title | link_to: blog_url }}</li>
                <li class="active">{{ current_tags | join: "&nbsp;+&nbsp;" }}</li>
            {%- else -%}
            <li class="active">{{ blog.title }}</li>
            {%- endif -%}
        {%- elsif template == 'article' -%}
            {%- assign blog_url = blog.url | absolute_url -%}
            <li>{{ blog.title | link_to: blog_url }}</li>
            <li class="active">{{ article.title }}</li>
        {%- elsif template contains 'page' -%}
            <li class="active">{{ page.title }}</li>
        {%- else -%}
            <li class="active">{{ page_title }}</li>
        {%- endif -%}
    </ol>
{%- endunless -%}
