<div class="header-brand" itemscope itemtype="http://schema.org/Organization">
    {% if settings.logo_use_image %}
        <a href="{{ '/' | absolute_url }}" itemprop="url">
            <img alt="{{ shop.name }}" src="{{ 'logo.png' | asset_url }}" itemprop="logo" />
        </a>
    {% else %}
        <a href="{{ '/' | absolute_url }}" itemprop="url">{{ shop.name }}</a>
    {% endif %}
</div>
{% include 'header-links' %}
