{% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
{% endif %}
<title>
    {{ page_title }}{% if current_tags %}{% include 'tags-joined', separator: ', ', escape: true %} - {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} - {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}
</title>
{% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
{% endif %}
