<script id="storefront.recently-added-cart-item-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% raw %}{{ dialogData.items.length }}{% endraw %}&nbsp;{{ 'cart.general.added_to_cart' | t }}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <vc-errors level="'warning'" message="dialogData.errorMessage" errors="dialogData.errors"></vc-errors>
            <div class="row" ng-repeat="item in dialogData.items">
                <div class="col-md-2">
                    <img class="img-responsive" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ item.primaryImage.url }}{% endraw %}">
                </div>
                <div class="col-md-5">
                    <a href="item.url" ng-bind="item.name"></a>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6"><p class="text-muted small">{{ 'cart.general.price' | t }}</p></div>
                        <div class="col-md-6"><p class="text-muted small">{{ 'cart.general.quantity' | t }}</p></div>
                        <!-- There is no such data as item.price.extendedPrice and item.price.extendedPriceWithTax. Therefore it is temporally hided -->
                        <!-- <div class="col-md-4"><p class="text-muted small">{{ 'cart.general.total' | t }}</p></div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {% if settings.show_prices_with_taxes %}
                            <span class="small" ng-bind="item.price.actualPriceWithTax.formattedAmount"></span>
                            {% else %}
                            <span class="small" ng-bind="item.price.actualPrice.formattedAmount"></span>
                            {% endif %}
                        </div>
                        <div class="col-md-6"><span class="small" ng-bind="item.quantity"></span></div>
                        <!-- There is no such data as item.price.extendedPrice and item.price.extendedPriceWithTax. Therefore it is temporally hided -->
                        <!-- <div class="col-md-4">
                            {% if settings.show_prices_with_taxes %}
                            <span class="small" ng-bind="item.price.extendedPriceWithTax.formattedAmount"></span>
                            {% else %}
                            <span class="small" ng-bind="item.price.extendedPrice.formattedAmount"></span>
                            {% endif %}
                        </div>                         -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="pull-left">{{ 'cart.general.products_in_cart' | t: cartItemsCount: cartItemsCount }}</span>
        <button type="button" class="btn btn-default" ng-click="close()">{{ 'cart.general.continue_shopping' | t }}</button>
        <button type="button" class="btn btn-primary" ng-click="redirect('{{ 'cart' | absolute_url }}')">{{ 'cart.general.view_cart' | t }}</button>
    </div>
</script>
