<script id="select-fulfillment-center-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" title="{{ 'inventory.select_branch.close' | t }}" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'inventory.select_branch.title' | t }}</h4>
    </div>
    <div class="modal-body" ng-controller="inventoryController as $inventory">
        <p>{{ 'inventory.select_branch.enter_search_phrase' | t }}</p>
        <div class="form-group group-flex" vc-enter-source>
            <input type="text" class="form-control" ng-model="$inventory.searchPhrase">
            <a class="btn btn-default" href="" ng-click="$inventory.searchFulfillmentCenters()" vc-enter-target>{{ 'common.go' | t }}</a>
        </div>
        <div class="row" ng-repeat="fulfillmentCenter in $inventory.fulfillmentCenters">
            <div class="col-md-6">
                {% raw %}
                    <address>
                        <h5>{{ fulfillmentCenter.name }}</h5>
                        <span ng-if="fulfillmentCenter.description"><small>{{ fulfillmentCenter.description }}</small><br></span>
                        {{ fulfillmentCenter.line1 }}<span ng-if="fulfillmentCenter.line2">, {{ fulfillmentCenter.line2 }}</span><br>
                        {{ fulfillmentCenter.city }}, {{ fulfillmentCenter.stateProvince }}, {{ fulfillmentCenter.countryCode }} {{ fulfillmentCenter.postalCode }}<br>
                        {% endraw %}{{ 'inventory.select_branch.phone' | t }}{% raw %}&nbsp;{{ fulfillmentCenter.daytimePhoneNumber }}
                    </address>
                {% endraw %}
            </div>
            <div class="col-md-2"><srong>1.3 mi</srong></div>
            <div class="col-md-2">1000 items available</div>
            <div class="col-md-2">
                <button class="btn btn-default">Select</button>
            </div>
        </div>
    </div>
</script>
