<script id="storefront.send-cart-to-email.tpl" type="text/ng-template">
    <div class="modal-header bg-gray-light rounded-top rounded-lg">
        <button type="button" class="close" ng-click="close()" title="{{ 'cart.send_to_email.close' | t }}" aria-label="{{ 'cart.send_to_email.close' | t }}">
            <i class="fa fa-times vertical-align-center"></i>
        </button>
        <h4 class="modal-title">{{ 'cart.send_to_email.title' | t }}</h4>
    </div>
    <div class="modal-body pt-0">
        <div ng-if="isLoading" class="loader">
            <div class="indicator"></div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="allMembersSelected" ng-checked="hasAllOrganizationMemberChecked()" ng-click="toggleAllOrganizationMembers()">
                                <span class="switch"></span><span ng-bind="$ctrl.test"></span>
                            </label>
                        </div>
                    </th>
                    <th ng-click="sortChanged('name')" ng-class="{'desc': getSortDirection('name') == sortDescending, 'asc': getSortDirection('name') == sortAscending }">{{ 'cart.send_to_email.name' | t }}</th>
                    <th ng-click="sortChanged('email')" ng-class="{'desc': getSortDirection('email') == sortDescending, 'asc': getSortDirection('email') == sortAscending }">{{ 'cart.send_to_email.email' | t }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in organizationMembers">
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="organizationMemberChecks[member.id]">
                                <span class="switch"></span>
                            </label>
                        </div>
                    </td>
                    <td ng-bind="member.name"></td>
                    <td ng-bind="member.email"></td>
                </tr>
            </tbody>
        </table>
        <label>{{ 'cart.send_to_email.message.title' |t }}</label>
        <textarea class="form-control" placeholder="{{ 'cart.send_to_email.message.placeholder' | t }}" rows="5"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="close()">{{ 'cart.send_to_email.cancel' | t }}</button>
        <button type="button" class="btn btn-primary" ng-click="send(email)" ng-disabled="!hasAnyOrganizationMemberCheck()">{{ 'cart.send_to_email.send' | t }}</button>
    </div>
</script>
