<script id="storefront.sign-in-to-proceed.tpl" type="text/ng-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% raw %}{{ dialogData.title }}{% endraw %}</h4>
    </div>
    <div class="modal-body">
        Please {{ 'sign in' | customer_login_link }} or {{ 'register' | customer_register_link }} to access lists.
    </div>
</script>
