<aside class="panel panel-default" ng-if="customer && customer.isRegisteredUser">
    <div class="panel-body">
        <h4>{% raw %}{{ customer.firstName }} {{ customer.lastName }}{% endraw %}</h4>
        {% include 'customers/badge' %}
    </div>
</aside>
<aside class="panel panel-default" ng-if="customer && !customer.isRegisteredUser">
    <div class="panel-body">
        <h4>{{ 'customer.sign-in.title' | t }}</h4>
        {% capture loginUrl %} {{ '~/account/login' | absolute_url }} {% endcapture %}
        {% include 'customers/login-form' %}
    </div>
</aside>
{% assign found = false %}
{% for blog in blogs %}
    {% for article in blog.articles %}
        {% assign found = article.is_sticked %}
        {% if found %}
            <aside class="thumbnail">
                <figure>
                    <img src="{{ article.image_url }}" class="img-responsive">
                    <figcaption class="caption">
                        <h4 class="text-center">{{ article.title }}</h4>
                        <a href="{{ article.url }}" class="btn btn-alt btn-lg btn-block">{{ 'blogs.featured.learn_more' | t }}</a>
                    </figcaption>
                </figure>
            </aside>
            {% break %}
        {% endif %}
    {% endfor %}
    {% if found %}{% break %}{% endif %}
{% endfor %}
{% if settings.footer_newsletter_enable %}
    <aside class="panel panel-default">
        <div class="panel-body">
            {% include 'shared/newsletter-form' %}
        </div>
    </aside>
{% endif %}
<!-- TODO: Products you have recently viewed -->
