<div class="top-links">
    <ul>
        <li>
            <span ng-if="customer && customer.isRegisteredUser">
                <a href="{{ 'account' | absolute_url }}">{{ 'customer.account.title' | t }}</a>
            </span>
            <span ng-if="customer && !customer.isRegisteredUser">
                {{ 'customer.account.title' | t | customer_login_link }}
            </span>
        </li>
        <!-- TODO: Add links to orders, lists and specials in account via ui-router -->
        <li>
            <a href="account#/orders">{{ 'customer.orders.title' | t }}</a>
        </li>
        <li>
            <a href="account#/lists">{{ 'customer.lists.title' | t }}</a>
        </li>
        <li>
            <a href="#">{{ 'customer.account.specials' | t }}</a>
        </li>
    </ul>
</div>
<div class="top-auth" ng-if="customer && !customer.isRegisteredUser">
    <ul>
        <li class="sign-in">
            {{ 'layout.customer.sign_in' | t | customer_login_link }}
        </li>
        <li>
            {{ 'layout.customer.register_now' | t | customer_register_link }}
        </li>
    </ul>
</div>
<div class="top-auth" ng-if="customer && customer.isRegisteredUser">
    <ul>
        <li>
            {% raw %}{{ customer.firstName }} {{ customer.lastName }}{% endraw %}
        </li>
        <li class="dropdown" uib-dropdown auto-close="mouseleave" aria-haspopup="true">
            <a id="account-dropdown" href="{{ 'account' | absolute_url }}" uib-dropdown-toggle toggle-on-mouse-enter>{{ 'layout.customer.account' | t }}&nbsp;<i class="dropdown-ico fa fa-angle-down"></i></a>
            <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="account-dropdown">
                <li>
                    {{ 'layout.customer.log_out' | t | customer_logout_link | replace: 'href', 'role="menuitem" tabindex="-1" href' }}
                </li>
            </ul>
        </li>
    </ul>
</div>
