<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="row flexible">
            <div class="navbar-header col-md-6" itemscope itemtype="http://schema.org/Organization">
                {% include 'main/header/links/brand' %}
                {% if current_user.contact.organization.name %}
                <div class="navbar-text text-uppercase navbar-user-organization">{{current_user.contact.organization.name}}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="navbar-text navbar-right small">
                        <ul class="list-inline">
                            {% for link in linklists[settings.service_menu].links %}
                                <li>
                                    <a class="navbar-link text-normal" href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="navbar-text navbar-right">
                        <ul class="list-inline">
                            {% assign index = 0 %}
                            {% for link in linklists[settings.main_menu].links %}
                                {% assign child_list_handle = link.title | handleize %}
                                {% if linklists[child_list_handle].links != blank %}
                                    {% assign id = 'header-link-' | append: index %}
                                    <li uib-dropdown auto-close="mouseleave">
                                        <a id="{{ id }}" class="navbar-link text-normal" href="{{ link.url }}" uib-dropdown-toggle vc-dropdown-trigger="mouseenter">{{ link.title }}&ensp;<i class="dropdown-ico fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-left dropdown-menu-square" role="menu" uib-dropdown-menu aria-labelledby="{{ link.name }}">
                                            {% for childlink in linklists[child_list_handle].links %}
                                                <li>
                                                    <a role="menuitem" tabindex="-1" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="navbar-link text-normal" href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endif %}
                                {% assign index = index | plus: 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
