{% layout settings.customer_layout %}
<main class="main">
    <aside class="container">
        <vc-account-manager base-url="baseUrl" customer="customer"></vc-account-manager>
    </aside>
</main>

<script id="account-manager.tpl" type="text/ng-template">
    <div ng-if="$ctrl.loader.isLoading" class="loader">
        <div class="indicator"></div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-class="{'loading': $ctrl.loader.isLoading }">
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <div class="row">
                        <div class="page-header">
                            <h3>{{ 'customer.account.title' | t }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountProfileUpdate'}">
                                <a ng-link="['Profile']">{{ 'customer.account.menu_label.profile' | t }}</a>
                            </li>
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountAddresses'}">
                                <a ng-link="['Addresses']">{{ 'customer.account.menu_label.addresses' | t }}</a>
                            </li>
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountPasswordChange'}">
                                <a ng-link="['PasswordChange']">{{ 'customer.account.menu_label.change_password' | t }}</a>
                            </li>
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountOrders'}">
                                <a ng-link="['Orders']">{{ 'customer.account.menu_label.orders' | t }}</a>
                            </li>
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountLists'}">
                                <a ng-link="['Lists']">{{ 'customer.account.menu_label.wishlist' | t }}</a>
                            </li>
                            {% if shop.subscription_enabled %}
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountSubscriptions'}">
                                <a ng-link="['Subscriptions']">{{ 'customer.account.menu_label.subscriptions' | t }}</a>
                            </li>
                            {% endif %}
                            {% if shop.quotes_enabled %}
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountQuotes'}">
                                <a ng-link="['Quotes']">{{ 'customer.account.menu_label.quotes' | t }}</a>
                            </li>
                            {% endif %}
                            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountCheckoutDefaults'}">
                                <a ng-link="['CheckoutDefaults']">Checkout Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row" va-permission="storefront:organization:view">
                        <div class="page-header">
                            <h3>{{ 'customer.account.corporate' | t }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-pills nav-stacked">
                            <li va-permission="storefront:organization:view" ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountCompanyInfo'}">
                                <a ng-link="['CompanyInfo']">{{ 'customer.account.menu_label.company_info' | t }}</a>
                            </li>
                            <li va-permission="storefront:user:view" ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountCompanyMembers'}">
                                <a ng-link="['CompanyMembers']">{{ 'customer.account.menu_label.company_members' | t }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-10">
                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </div>
    </div>
</script>
