{% layout settings.customer_layout %}
<main class="main" role="main">
    <aside class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{ 'customer.invite.title' | t }}</h1>
                {% form 'confirm_invitation' %}
                {% include 'form-errors-custom' %}

                <input type="hidden" value="{{ form.email }}" name="customer[email]">
                <input type="hidden" value="{{ form.organization_id }}" name="customer[organization_id]">
                <input type="hidden" value="{{ form.token }}" name="customer[token]">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" name="customer[first_name]" type="text" required placeholder="{{ 'customer.invite.first_name' | t }}" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" name="customer[last_name]" type="text" required placeholder="{{ 'customer.invite.last_name' | t }}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" name="customer[user_name]" type="text" required placeholder="{{ 'customer.invite.user_name' | t }}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" name="customer[password]" type="text" required placeholder="{{ 'customer.invite.password' | t }}" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" name="customer[confirm_password]" type="text" required placeholder="{{ 'customer.invite.confirm_password' | t }}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary pull-right" value="{{ 'customer.invite.submit' | t }}">
                        </div>
                    </div>
                </div>
                {% endform %}
            </div>
        </div>
    </aside>
</main>
