<main class="main" role="main">
    <aside class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>{{ 'customer.sign-in.title' | t }}</h1>
                {% include 'customers/login-form' %}
            </div>
            <div class="col-md-8">
                <h1>{{ 'customer.sign-in.registration_title' | t: shop: shop }}</h1>
                <p>
                    {{ 'customer.sign-in.registration_advantages_title' | t: shop: shop }}
                    <ul>
                        {% for i in (0..10) %}
                        {% assign registration_advantage_path = 'customer.sign-in.registration_advantages[' | append: i | append: ']' %}
                        {% assign registration_advantage = registration_advantage_path | t %}
                        {% if registration_advantage != registration_advantage_path %}
                        <li>{{ registration_advantage }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </p>
                <div>
                    {{ 'layout.customer.register' | t | customer_register_link | replace: 'a href', 'a class="btn btn-primary" href' }}
                </div>
            </div>
        </div>
    </aside>
</main>
