{% comment %}
    {% layout settings.customer_layout %}
{% endcomment %}
{% include 'third-party/ngWizardTemplate' %}

<main class="container" role="main">
    <div ng-controller="accountLoginController">
        <div ng-controller="accountRegisterController as $ctrl" ng-init="init('{{ shop.id }}')">
            <vc-errors message="errorMessage" errors="errors"></vc-errors>

            <wizard current-step-number="currentStepNumber" submit="submit()">
                <wizard-step title="{{ 'customer.register.step-personal' | t }}">
                    <form name="stepForm" novalidate="novalidate">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input ng-model="member.type" value="Business" name="radio" type="radio">
                                <span class="switch"></span>
                                <span class="name">Business Use</span>
                            </label>
                            <label class="radio-inline">
                                <input ng-model="member.type" value="Personal" name="radio" type="radio">
                                <span class="switch"></span>
                                <span class="name">Personal Use</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <vc-labeled-input value="member.firstName" name="FirstName" type="text" required="true" placeholder="{{ 'customer.register.first_name' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                            <div class="col-md-6">
                                <vc-labeled-input value="member.lastName" name="LastName" type="text" required="true" placeholder="{{ 'customer.register.last_name' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                        </div>
                        <vc-labeled-input value="member.email" name="Email" type="email" required="true" placeholder="{{ 'customer.register.email-work' | t }}" form="stepForm" ng-if="isOrg()"></vc-labeled-input>
                        <vc-labeled-input value="member.email" name="Email" type="email" required="true" placeholder="{{ 'customer.register.email' | t }}" form="stepForm" ng-if="!isOrg()"></vc-labeled-input>

                        <div class="row">
                            <vc-labeled-input value="member.address.phone" name="Phone" type="tel" required="true" pattern="\d{6,32}" placeholder="{{ 'customer.register.phone' | t }}" form="stepForm" class="col-xs-12"></vc-labeled-input>
                        </div>
                        <div class="row" ng-show="isOrg()">
                            <vc-labeled-input value="member.accountNo" name="AccountNo" placeholder="{{ 'customer.register.account-number' | t }}" form="stepForm" class="col-xs-12 col-md-6"></vc-labeled-input>
                        </div>
                    </form>
                </wizard-step>
                <wizard-step title="{{ 'customer.register.step-address' | t }}" required-step-number="0">
                    <form name="stepForm" novalidate="novalidate">
                        <div class="row" ng-if="isOrg()">
                            <vc-labeled-input value="member.companyName" name="Organization" required="true" placeholder="{{ 'customer.register.company_name' | t }}" form="stepForm" class="col-xs-12 col-md-6"></vc-labeled-input>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-select" ng-class="{'keyuped': stepForm.Country.$modelValue, 'error': stepForm.$submitted && stepForm.Country.$invalid }">
                                    <label for="#" class="form-label" ng-bind="isOrg() ? '{{ 'customer.register.work-country' | t }}' : '{{ 'checkout.address.country' | t }}'"></label>
                                    <select ng-model="member.address.countryCode" ng-options="x.code3 as x.name for x in $ctrl.countries" name="Country" required="required" class="form-control" size="1">
                                        <option value="">{{ 'checkout.address.country_select_placeholder' | t }}</option>
                                    </select>
                                </div>
                                <p class="form-error" ng-if="stepForm.$submitted && stepForm.Country.$error.required">
                                    {{ 'checkout.country_required_message' | t }}
                                </p>
                            </div>

                            <div class="col-md-6 vc-form" ng-if="member.address.country.regions.length">
                                <div class="form-group form-select" ng-class="{'keyuped': member.address.regionId.length }">
                                    <label for="#" class="form-label" ng-bind="(isOrg() ? '{{ 'customer.register.work-region' | t }}' : '') + member.address.country.regionType"></label>
                                    <select ng-model="member.address.regionId" ng-options="x.code as x.name for x in member.address.country.regions" name="Region" required="required" class="form-control" size="1">
                                        <option value="" ng-bind="'Select ' + member.address.country.regionType"></option>
                                    </select>
                                </div>
                                <p class="form-error" ng-if="stepForm.Region.$dirty && stepForm.Region.$error.required" ng-bind="'Please select ' + member.address.country.regionType"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <vc-labeled-input value="member.address.city" name="City" type="text" required="true" placeholder="{{ 'customer.addresses.city' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                            <div class="col-md-4">
                                <vc-labeled-input value="member.address.line1" name="Line1" type="text" required="true" placeholder="{{ 'customer.register.address1' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                            <div class="col-md-4">
                                <vc-labeled-input value="member.address.line2" name="Line2" type="text" placeholder="{{ 'customer.register.address2' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <vc-labeled-input value="member.address.postalCode" name="PostalCode" required="true" pattern="\d{4,32}" placeholder="{{ 'checkout.address.zip' | t }}" form="stepForm"></vc-labeled-input>
                            </div>
                        </div>
                    </form>
                </wizard-step>
                <wizard-step title="{{ 'customer.register.step-account' | t }}" required-step-number="1">
                    <form name="stepForm" novalidate="novalidate">
                        <div class="row">
                            <vc-labeled-input value="member.username" name="Username" required="true" placeholder="{{ 'customer.register.user_name' | t }}" form="stepForm" class="col-md-6"></vc-labeled-input>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <vc-labeled-input value="member.password" name="Password" placeholder="{{ 'customer.register.password' | t }}" form="stepForm" required="true" type="password"></vc-labeled-input>
                                <div class="form-error" ng-if="$ctrl.error.password && !stepForm.Password.$pristine">
                                    <span>{{ 'customer.register.password-length' | t }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 vc-form">
                                <!--<vc-labeled-input value="member.password2" name="ConfirmPassword" placeholder="{{ 'customer.register.confirm_password' | t }}" form="stepForm" required="true" type="password"></vc-labeled-input>
                                <div class="vc-form form-error" ng-if="!stepForm.ConfirmPassword.$pristine && $ctrl.error.ConfirmPassword">
                                    <span>{{ 'customer.register.repeat-password' | t }}</span>
                                </div>-->

                                <div class="form-group" ng-class="{'keyuped': stepForm.ConfirmPassword.$viewValue.length, 'error': (stepForm.ConfirmPassword.$dirty || stepForm.$submitted) && stepForm.ConfirmPassword.$invalid }">
                                    <label for="ConfirmPassword" class="form-label">{{ 'customer.register.confirm_password' | t }}</label>
                                    <input ng-model="member.confirmPassword"
                                           name="ConfirmPassword"
                                           id="ConfirmPassword"
                                           placeholder="{{ 'customer.register.confirm_password' | t }}"
                                           type="password" required="required" class="form-control"
                                           confirm-password-validation />
                                    <span class="form-error" ng-if="(stepForm.ConfirmPassword.$dirty || stepForm.$submitted) && stepForm.ConfirmPassword.$error.required" ng-bind="$ctrl.requiredError || '{{ 'common.required' | t }}'"></span>
                                    <span class="form-error" ng-if="(stepForm.ConfirmPassword.$dirty || stepForm.$submitted) && !stepForm.ConfirmPassword.$error.required && stepForm.ConfirmPassword.$invalid && stepForm.ConfirmPassword.$error.confirmPasswordValidation">{{ 'common.not_match' | t }}</span>
                                </div>
                            </div>
                            <div vc-recaptcha ng-model="member.recaptchaResponse" class="col-md-6"></div>
                        </div>
                    </form>
                </wizard-step>
            </wizard>
        </div>

        <div class="hidden">
            {% include 'customers/login-form' %}
        </div>
    </div>
</main>
