{% layout settings.customer_layout %}

<div class="grid">
    <div class="grid-item large--four-sixths push--large--one-sixth text-center" ng-controller="accountRegisterController">
        <h1>{{ 'customer.register.title' | t }}</h1>

        <vc-errors message="errorMessage" errors="errors"></vc-errors>

        <div class="grid vc-form">
            <div class="grid-item large--two-quarters push--large--one-quarter text-center"

                <div ng-init="init('{{ shop.id }}')">

                    <div ng-show="!complete">
                        <vc-member-detail member="newMember" member-component="memberComponent" fields-config="registerMemberFieldsConfig"></vc-member-detail>

                        <p>
                            <button ng-click="register()" ng-disabled="loader.isLoading" class="vc-btn" ng-class="{ 'btn--disabled': memberForm.$pristine, 'loading': loader.isLoading }">
                                <span class="btn-text">{{ 'customer.register.submit' | t }}</span>
                                <span class="btn-loading"></span>
                            </button>
                        </p>
                    </div>

                    <div ng-show="complete">
                        <h5>{{ 'customer.register.registration_success_text' | t }}</h5>
                        <br />
                        <p>{{ 'customer.register.goto_text' | t }} <a href="account/login">{{ 'customer.register.login_page_text' | t }}</a></p>
                    </div>

                    <div ng-if="!complete">
                        <span>{{ 'customer.register.or' | t }}</span> <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>