{% layout settings.customer_layout %}
{% include 'third-party/ngWizardTemplate' %}

<main class="container" role="main">
    <div ng-controller="accountRegisterController as $ctrl" ng-init="init('{{ shop.id }}')">
        <div class="col-xs-12" ng-show="$ctrl.loader.isLoading">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-refresh fa-spin fa-fw"></i>
                        <span>{{ 'general.loading' | t }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-12" >
        
        {% form 'create_customer' %}
            {% include 'form-errors-custom' %}
            <wizard on-finish="finishedWizard()" indicators-position="top" current-step="current_Step"> 
                <wz-step wz-title="{{ 'customer.register.step-personal' | t }}" canexit="stepValidation">
                    <h1>{{ 'customer.register.step-personal' | t }}</h1>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input ng-model="member.type" value="Business" name="customer[type]" type="radio">
                            <span class="switch"></span>
                            <span class="name">Business Use</span>
                        </label>
                        <label class="radio-inline">
                            <input ng-model="member.type" value="Personal" name="customer[type]" type="radio">
                            <span class="switch"></span>
                            <span class="name">Personal Use</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[first_name]'].$invalid && !create_customer['customer[first_name]'].$pristine }">
                                <input ng-model="member.firstName" class="form-control" name="customer[first_name]" id="customer[first_name]" type="text" required placeholder="{{ 'customer.register.first_name' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[first_name]'].$pristine && create_customer['customer[first_name]'].$error.required ? 'visible':'hidden'}">{{ 'common.required' | t }}</span>
                                <span>{{ page.content }}</span>
                            </div>
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[last_name]'].$invalid && !create_customer['customer[last_name]'].$pristine }">
                                <input ng-model="member.lastName" class="form-control" name="customer[last_name]" type="text" required placeholder="{{ 'customer.register.last_name' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[last_name]'].$pristine && create_customer['customer[last_name]'].$error.required ? 'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[email]'].$invalid && !create_customer['customer[email]'].$pristine }">
                                <input class="form-control" ng-model="member.email" name="customer[email]" type="email" required placeholder="{{ 'customer.register.email-work' | t }}" ng-if="isOrg()" />
                                <input class="form-control" ng-model="member.email" name="customer[email]" type="email" required placeholder="{{ 'customer.register.email' | t }}" ng-if="!isOrg()" />
                                <span class="text-danger" ng-style="{'visibility': create_customer['customer[email]'].$invalid && !create_customer['customer[email]'].$pristine ?'visible':'hidden'}">{{ 'common.invalid' | t }}</span>
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[email]'].$pristine && create_customer['customer[email]'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[address].phone'].$invalid && !create_customer['customer[address].phone'].$pristine }">
                                <input class="form-control" ng-model="member.phone" name="customer[address].phone" type="tel" required ng-pattern="/^[0-9]{1,12}$/" placeholder="{{ 'customer.register.phone' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': create_customer['customer[address].phone'].$invalid && !create_customer['customer[address].phone'].$pristine ?'visible':'hidden'}">{{ 'common.invalid' | t }}</span>
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[address].phone'].$pristine && create_customer['customer[address].phone'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" ng-model="member.accountNo" name="AccountNo" placeholder="{{ 'customer.register.account-number' | t }}" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" wz-next value="Continue" />
                </wz-step>
                <wz-step wz-title="{{ 'customer.register.step-address' | t }}">
                    <h1>{{ 'customer.register.step-address' | t }}</h1>
                    <div class="form-group">
                        <div class="row" ng-if="isOrg()">
                            <div class="col-md-12" ng-class="{'has-error': create_customer['customer[organization_name]'].$invalid && !create_customer['customer[organization_name]'].$pristine }">
                                <input ng-model="member.companyName" class="form-control" name="customer[organization_name]" type="text" required placeholder="{{ 'customer.register.company_name' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[organization_name]'].$pristine && create_customer['customer[organization_name]'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-select" ng-class="{'keyuped': create_customer.Country.$modelValue, 'error': create_customer.$submitted && create_customer.Country.$invalid }">
                                    <label for="#" class="form-label" ng-bind="isOrg() ? '{{ 'customer.register.work-country' | t }}' : '{{ 'checkout.address.country' | t }}'"></label>
                                    <select ng-model="member.address.countryCode" ng-options="x.code3 as x.name for x in $ctrl.countries" name="customer[address].countryCode" required="required" class="form-control" size="1">
                                        <option value="">{{ 'checkout.address.country_select_placeholder' | t }}</option>
                                    </select>
                                </div>
                                <p class="form-error" ng-if="create_customer.$submitted && create_customer.Country.$error.required">
                                    {{ 'checkout.country_required_message' | t }}
                                </p>
                            </div>

                            <div class="col-md-6" ng-if="member.address.country.regions.length">
                                <div class="form-group form-select" ng-class="{'keyuped': member.address.regionId.length }">
                                    <label for="#" class="form-label" ng-bind="(isOrg() ? '{{ 'customer.register.work-region' | t }}' : '') + member.address.country.regionType"></label>
                                    <select ng-model="member.address.regionId" ng-options="x.code as x.name for x in member.address.country.regions" name="customer[address].region" required="required" class="form-control" size="1">
                                        <option value="" ng-bind="'Select ' + member.address.country.regionType"></option>
                                    </select>
                                </div>
                                <p class="form-error" ng-if="create_customer.Region.$dirty && create_customer.Region.$error.required" ng-bind="'Please select ' + member.address.country.regionType"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[address].postalCode'].$invalid && !create_customer['customer[address].postalCode'].$pristine }">
                                <input class="form-control" ng-model="member.address.postalCode" name="customer[address].postalCode" required pattern="\d{4,32}" placeholder="{{ 'checkout.address.zip' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': create_customer['customer[address].postalCode'].$invalid && !create_customer['customer[address].postalCode'].$pristine ?'visible':'hidden'}">{{ 'common.invalid' | t }}</span>
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[address].postalCode'].$pristine && create_customer['customer[address].postalCode'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[address].city'].$invalid && !create_customer['customer[address].city'].$pristine }">
                                <input class="form-control" ng-model="member.address.city" name="customer[address].city" type="text" required placeholder="{{ 'customer.addresses.city' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[address].city'].$pristine && create_customer['customer[address].city'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[address].line1'].$invalid && !create_customer['customer[address].line1'].$pristine }">
                                <input class="form-control" ng-model="member.address.line1" name="customer[address].line1" type="text" required placeholder="{{ 'customer.register.address1' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[address].line1'].$pristine && create_customer['customer[address].line1'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" ng-model="member.address.line2" name="customer[address].line2" type="text" placeholder="{{ 'customer.register.address2' | t }}" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" wz-next value="Continue" />
                    <input type="submit" class="btn btn-alt" wz-previous value="Back" />
                </wz-step>
                <wz-step wz-title="{{ 'customer.register.step-account' | t }}">
                    <h1>{{ 'customer.register.step-account' | t }}</h1>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12" ng-class="{'has-error': create_customer['customer[user_name]'].$invalid && !create_customer['customer[user_name]'].$pristine }">
                                <input class="form-control" ng-model="member.username" name="customer[user_name]" required placeholder="{{ 'customer.register.user_name' | t }}" />
                                <span class="text-danger" ng-style="{'visibility': !create_customer['customer[user_name]'].$pristine && create_customer['customer[user_name]'].$error.required ?'visible':'hidden'}">{{ 'common.required' | t }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': $ctrl.error.password && create_customer['customer[password]'].$dirty && create_customer['customer[password]'].$invalid }">
                                <input class="form-control" ng-model="member.password" name="customer[password]" placeholder="{{ 'customer.register.password' | t }}" required type="password" />
                                <div class="form-error" ng-if="$ctrl.error.password && !create_customer['customer[password]'].$dirty && create_customer['customer[password]'].$invalid">
                                    <span>{{ 'customer.register.password-length' | t }}</span>
                                </div>
                            </div>
                            <div class="col-md-6" ng-class="{'has-error': create_customer['customer[confirmPassword]'].$invalid && !create_customer['customer[confirmPassword]'].$pristine }">
                                <input class="form-control" ng-model="member.confirmPassword" name="customer[confirmPassword]" placeholder="{{ 'customer.register.confirm_password' | t }}" required confirm-password-validation type="password" />
                                <span class="text-danger" ng-style="{'visibility': create_customer['customer[confirmPassword]'].$pristine && !create_customer['customer[confirmPassword]'].$error.required && create_customer['customer[confirmPassword]'].$invalid && create_customer['customer[confirmPassword]'].$error.confirmPasswordValidation ?'visible':'hidden'}">{{ 'common.not_match' | t }}</span>
                                <span class="text-danger" ng-style="{'visibility': (create_customer['customer[confirmPassword]'].$dirty || create_customer.$submitted) && !create_customer['customer[confirmPassword]'].$error.required && create_customer['customer[confirmPassword]'].$invalid && create_customer['customer[confirmPassword]'].$error.confirmPasswordValidation ?'visible':'hidden'}">{{ 'common.not_match' | t }}</span>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" value="Submit" ng-disabled="create_customer.$invalid"/>
                    <input type="submit" class="btn btn-alt" wz-previous value="Back"/>
                </wz-step>
            </wizard>
            <div> Current Step: <span ng-bind="current_Step"></span></div>
        {% endform %}
    </div>
    </div>


</main>

