<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% include 'meta/meta-info' %}

    {% include 'third-party/google-tag-manager-head' %}
    {% include 'meta/open-graph-tags' %}

    <link rel="canonical" href="{{ canonical_url }}" />

    <script>
        var BASE_URL = '{{ "" | full_url }}';
    </script>

    {% include 'main/dependencies' %}

    {% include 'third-party/zendesk' %}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" ng-controller="mainController" ng-init="baseUrl='{{ '' | absolute_url }}'" data-target="#toc" data-spy="scroll">
    {% include 'third-party/google-tag-manager-body' %}
    {% include 'dialogs/sign-in-to-proceed' %}
    {% include 'dialogs/recently-added-cart-item' %}
    {% include 'dialogs/select-fulfillment-center' %}
    {% include 'dialogs/send-cart-to-email' %}
    {% include 'dialogs/send-product-to-email' %}
    {% include 'js/lists/lists-added-list-item-dialog' %}
    {% include 'js/lists/lists-create-new-list-dialog' %}
    {% include 'js/lists/lists-settings-dialog' %}
    {% include 'dialogs/list-shared-link-dialog' %}
    {% include 'notification' %}
    {% include 'main/header' %}
    {{ content_for_layout }}
    {% include 'main/footer' %}
</body>

</html>
