{% paginate collection.products by settings.product_list_capacity %}
    <div class="toolbar clearfix">
        {% include 'shared/breadcrumb' %}
    </div>

    <ng-controller ng-controller="collectionController as $collection">
        <h1>{{ collection.title }}
            {% if collection.description != blank %}
                <a href="" ng-click="isAboutOpen = !isAboutOpen">
                    <i class="fa" ng-class="{'fa-question-circle': !isAboutOpen, 'fa-times-circle': isAboutOpen}"></i>
                    <span ng-hide="isAboutOpen">{{ 'collections.general.about_category' | t }}</span>
                    <span ng-show="isAboutOpen">{{ 'layout.general.close' | t }}</span>
                </a>
            {% endif %}
        </h1>
        {% assign variants_count = 0 %}
        {% for product in collection.products %}
            {% assign product_variant_count = product.variants | size %}
            {% assign variants_count = variants_count | plus: product_variant_count %}
        {% endfor %}
        {% assign all_results_count = collection.products_count %}
        {% assign displayed_results_count = collection.products | size %}
        <p>{{ 'collections.general.products_count' | t, all_results_count: all_results_count, displayed_results_count: displayed_results_count, products_count: variants_count }}</p>
        <p ng-show="isAboutOpen">{{ collection.description }}</p>
        <div class="sidebar col-md-4">
            {% include 'collection/sidebar', collection: collection %}
        </div>
        <div class="content col-md-8">
		    <div class="product-search">
                {% include 'collection/sorting' %}
				<div class="search-controls">
                    {% include 'collection/views' %}
					{% include 'collection/page-size' %}
				</div>
                {% include product_items %}
                <div class="search-controls">
                    {% include 'collection/views' %}
                    {% include 'collection/page-size' %}
                </div>
                {% include 'shared/pagination' %}
                <script>
                    window.productList = [];
                    {% for product in collection.products %}
                        window.productList.push({
                            id: "{{ product.id }}",
                            catalogId: "{{ product.catalog_id }}",
                            outline: "{{ product.outline }}",
                            categoryId: "{{ product.category_id }}",
                            taxType: "{{ product.tax_type }}"
                        });
                    {% endfor %}
                </script>
            </div>
        </div>    
    </ng-controller>
    <script>
        window.productList = [];
        {% for product in collection.products %}
            window.productList.push({
                id: "{{ product.id }}",
                catalogId: "{{ product.catalog_id }}",
                outline: "{{ product.outline }}",
                categoryId: "{{ product.category_id }}",
                taxType: "{{ product.tax_type }}"
            });
        {% endfor %}
    </script>
{% endpaginate %}
