<script id="storefront.lists-added-list-item-dialog.tpl" type="text/ng-template">
    <div ng-if="!itemAdded">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="!selectedList.title">{{ 'wishlist.general.select_list' | t }}</h4>
        </div>
        <div class="modal-body">
            <div class="product-list-modal-wrapper">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="list in lists" ng-class="{'active': list.name == selectedList.name, 'disabled' : list.contains }" ng-click="selectList(list)">
                        <span  class="list-text-title" ng-bind="list.name"></span>
                        <span ng-if="list.contains" class="list-text-descr-inList">
                            {{ 'wishlist.general.list_contains' | t }}
                            <i ng-if="list.contains" class="fa fa-check-square " aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                
                <div class="cart-row product-list-modal-borders product-list-modal-borders">
                    <div class="grid">
                        <div class="grid-item text-right">
                            <button class="btn" >
                                <span ng-click="close()">{{ 'wishlist.general.cancel' | t }}</span>
                            </button>
                            <button ng-class="{ 'btn-secondary btn-secondary-clearfix' : inProgress }" ng-disabled="selectedList.contains || inProgress || !selectedList.name" class="btn " ng-click="addProductToList()">
                                <span ng-if="!inProgress">{{ 'wishlist.general.add_to_list' | t }}</span>
                                <span ng-if="inProgress">{{ 'wishlist.general.adding_to_list' | t }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="itemAdded" class="product-list-modal-wrapper">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"> <span ng-bind="'{{ 'wishlist.general.added_to_list' | t }}' + ' ' + selectedList.name"></span></h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div>
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <span class="cart-image">
                                    <img ng-src="{% raw %}{{ dialogData.product.images['0'].url }}{% endraw %}" ng-if="dialogData.dialogData.product.images" />
                                    <div class="no-product-image" ng-if="!dialogData.product.images['0'].url">
                                        <img src="{{ 'no-image.svg' | asset_url }}" />
                                    </div>
                                </span>
                            </td>
                            <td>
                                <a ng-bind="dialogData.product.name"></a>
                            </td>
                            <td>
                                <div ng-bind="dialogData.quantity"></div>
                            </td>
                            <td>
                                {% if settings.show_prices_with_taxes %}
                                <span class="h2" ng-bind="dialogData.product.price.listPrice.formattedAmount"></span>
                                <span style="text-decoration: line-through;" ng-if="dialogData.product.price.listPriceWithTax.amount != dialogData.placedPriceWithTax.amount" ng-bind="dialogData.product.price.listPriceWithTax.formattedAmount"></span>
                                {% else %}
                                <span class="h2" ng-bind="dialogData.product.price.listPrice.formattedAmount"></span>
                                <span style="text-decoration: line-through;" ng-if="dialogData.product.price.listPrice.amount != dialogData.placedPrice.amount" ng-bind="dialogData.product.price.listPrice.formattedAmount"></span>
                                {% endif %}
                            </td>
                            
                        </tr>
                    </table>
                </div>

                <div>
                    <button ng-click="redirect('{{ 'account#/lists/myLists' | absolute_url }}')" class="btn" >
                        <span>{{ 'wishlist.general.view_your_list' | t }}</span>
                    </button>
                    <button ng-click="close()" class="btn" >
                        <span>{{ 'wishlist.general.continue_shopping' | t }}</span>
                    </button>
                </div>    
                
            </div>
            
        </div>
    </div>
    
</script>
