<li ng-class="{'active': isBulkOrderFormOpen}">
    <a id="bulk-order-popover" href="" popover-class="square hide-arrow" uib-popover-template="'bulk-order-popover.tpl'" popover-placement="bottom" popover-is-open="isBulkOrderFormOpen">
        {{ 'bulk_order.general.title' | t }}&ensp;<i class="fa fa-angle-down"></i>
    </a>
    <script id="bulk-order-popover.tpl" type="text/ng-template">
        <div class="panel panel-default" ng-init="state = 'manual'">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <span ng-show="state == 'manual'">{{ 'bulk_order.general.subtitle' | t }}</span>
                            <span ng-show="state == 'csv'">{{ 'bulk_order.general.csv_title' | t }}</span>
                        </div>
                        <div class="col-xs-6">
                            <a href="" ng-show="state == 'csv'" ng-click="state = 'manual'">{{ 'bulk_order.general.subtitle' | t }}</a>
                            <a href="" ng-show="state == 'manual'" ng-click="state = 'csv'">{{ 'bulk_order.general.csv_title' | t }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-controller="productController">
                <form ng-show="state == 'manual'">
                    {% assign column_count = 1 %}
                    {% assign rows_count = 5 %}
                    {% assign sku_grid_column_count = 8 %}
                    {% assign quantity_grid_column_count = 4 %}
                    <div class="container-fluid">
                        {% include 'shared/bulk-order-fields' %}
                        <p><a class="show-more" href="{{ 'bulkorder' | absolute_url }}">Show More Entry Fields</a></p>
                        <!-- TODO: Replace mock with real method -->
                        <button class="btn btn-primary" ng-click="addProductsToCartMock()" dropdown-close>{{ 'bulk_order.general.add_to_cart' | t }}</button>
                    </div>
                </form>
                <dl ng-show="state == 'csv'">
                    <dt>{{ 'bulk_order.general.csv_subtitle' | t }}</dt>
                    <dd>{{ 'bulk_order.general.csv_subdescription' | t }}</dd>
                </dl>
                <form ng-show="state == 'csv'">
                    <div class="form-group">
                        <textarea name="csv" placeholder="{{ 'bulk_order.general.csv_field_placeholder' | t }}" rows="10" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary" ng-click="addProductsToCartMock()" dropdown-close>{{ 'bulk_order.general.add_to_cart' | t }}</button>
                </form>
            </div>
        </div>
    </script>
</li>
