<form method="get" action="{{ '/search' | absolute_url }}" name="formSearch" class="navbar-form" role="search" autocomplete="off" ng-controller="searchBarController">
    <!-- TODO: Replace with typeahead -->
    <div class="dropdown input-group" uib-dropdown aria-haspopup="true">
        <input type="hidden" name="type" value="product" />
        <input id="searchBar" type="search" name="q" ng-model="query" value="{{ search.terms | escape }}" class="form-control" placeholder="{{ 'layout.search_bar.placeholder' | t }}" aria-label="{{ 'layout.search_bar.placeholder' | t }}"  uib-dropdown-toggle ng-change="getSuggestions()" />
        <ul class="dropdown-menu list-styled" role="menu" uib-dropdown-menu aria-labellledby="searchBar" ng-if="(categorySuggestions || productSuggestions) && query">
            <li ng-if="searching" class="disabled">
                <a href="">{{ 'cart.general.product_search_progress' | t }}</a>
            </li>
            <li ng-if="!searching && categorySuggestions.length > 0" class="dropdown-header">{{ 'cart.general.categories' | t }}</li>
            <li ng-repeat="suggestion in categorySuggestions" ng-click="outerRedirect(suggestion.url)" ng-if="!searching && categorySuggestions.length">
                <a href="" ng-bind="suggestion.name"></a>
            </li>
            <li ng-if="!searching && productSuggestions.length > 0" class="dropdown-header">{{ 'cart.general.products' | t }}</li>
            <li ng-repeat="suggestion in productSuggestions" ng-click="outerRedirect(suggestion.url)" ng-if="!searching && productSuggestions.length">
                <a href="" ng-bind="suggestion.name"></a>
            </li>
            <li ng-if="!searching && !categorySuggestions.length && !productSuggestions.length" class="disabled">
                <a href="">{{ 'cart.general.product_search_empty' | t }}</a>
            </li>
        </ul>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">{{ 'layout.search_bar.submit' | t }}</button>            
        </span>
    </div>
</form>
<script>
  window.searchQuery = '{{ search.terms | escape }}';
</script>
