<ul class="nav navbar-nav">
    <li ng-class="{'active': isAllProductsOpen}" ng-mouseenter="isAllProductsOpen = true" ng-mouseleave="isAllProductsOpen = false">
        <a id="all-products-popover" href="" class="text-uppercase text-condensed" popover-class="popover-square hide-arrow" uib-popover-template="'all-products-popover.tpl'" popover-placement="bottom-left" popover-is-open="isAllProductsOpen" popover-trigger="'none'">
            {{ 'layout.products.products' | t }}&ensp;<i class="dropdown-ico fa fa-angle-down"></i>
        </a>
        <script id="all-products-popover.tpl" type="text/ng-template">                    
            <div class="container-fluid container-drain container-bordered">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-sm nav-pills nav-justified text-nowrap">
                            {% for link in linklists[settings.all_products_menu].links %}
                                <li>
                                    <a href="{{ link.url }}">
                                        {%- if link.icon != blank -%}
                                            {%- if link.icon.contains('/') -%}
                                                <img alt="{{- link.name -}}" src="{{- link.icon | asset_url -}}" />&nbsp;
                                            {%- else -%}
                                                <i class="head-ico {{- link.icon -}}"></i>&nbsp;
                                            {%- endif -%}
                                        {%- endif -%}
                                        {{- link.title -}}
                                    </a>
                                </li>
                            {% endfor %}
			            </ul>
                    </div>
                </div>
                {% comment %}
                    Get top-level collections
                    Because of liquid limitations for array, filter collections array with convertion to string with hidden delemiters (Unicode has special symbol for this: &#x2063;)
                    Then split string to array twice (per collections list and per collection properties) and use it (0 - url, 1 - title)
                {% endcomment %}
                {% assign index = 0 %}
                {%- capture top_level_collection_strings_list -%}
                    {%- paginate collections by settings.collections_capacity -%}
                        {%- for collection in collections -%}
                            {%- assign parent_count = collection.parents | size -%}
                            {%- include 'shared/item-response-group' -%}
                            {%- assign response_group = default_product_search_resp_group | plus: item_resp_group_item_properties | plus: item_resp_group_item_editorial_reviews -%}
                            {%- if parent_count == 1 -%}
                                {%- if index > 0 -%}&#x2063;&#x2063;{%- endif-%}{{- collection.url | append: '?resp_group=' | append: response_group | append: '&view=list' -}}&#x2063;{{- collection.title -}}
                                {%- assign index = index | plus: 1 -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endpaginate -%}
                {%- endcapture -%}
                {% assign top_level_collection_strings = top_level_collection_strings_list | split: '&#x2063;&#x2063;' %}
                <div class="row">
                    {% for top_level_collection_string in top_level_collection_strings %}
                        {% include 'shared/grid/columns', collection: top_level_collection_strings, column_count: 3 %}
                        {% if should_start_column %}
                            <div class="col-md-4">
                                <ul class="nav nav-sm nav-pills nav-stacked">
                        {% endif %}
                                    <li>
                                        {% assign top_level_collection = top_level_collection_string | split: '&#x2063;' %}
                                        <a href="{{ top_level_collection[0] | absolute_url }}">{{ top_level_collection[1] | escape }}</a>
                                    </li>
                        {% if should_end_column %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </script>
    </li>
</ul>
