<div class="col-md-8">
    <div class="page-header">
        <h3>{{ 'customer.change_password.title' | t }}</h3>
    </div>
    <vc-errors message="errorMessage" errors="errors"></vc-errors>
        <form ng-submit="$ctrl.submit()" name="detailForm">
            <vc-errors errors="$ctrl.errors" ng-if="$ctrl.errors.length"></vc-errors>

            <div class="alert alert-success" ng-if="$ctrl.succeeded">{{ 'customer.change_password.changed' | t }}</div>

            <vc-labeled-input value="$ctrl.passwordChangeData.oldPassword" name="oldPassword" placeholder="{{ 'customer.change_password.old_password' | t }}" form="detailForm" required="true" type="password" autofocus="true" ng-init="$ctrl.setForm(detailForm)"></vc-labeled-input>

            <vc-labeled-input value="$ctrl.passwordChangeData.newPassword" name="newPassword" placeholder="{{ 'customer.change_password.new_password' | t }}" form="detailForm" required="true" type="password"></vc-labeled-input>
            <div class="has-error" ng-if="$ctrl.error.newPassword && !detailForm.newPassword.$pristine">
                <span class="help-block text-danger">{{ 'customer.change_password.validation.new_password' | t }}</span>
            </div>

            <vc-labeled-input value="$ctrl.passwordChangeData.newPassword2" name="newPassword2" placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" form="detailForm" required="true" type="password"></vc-labeled-input>
            <div class="has-error" ng-if="!detailForm.newPassword2.$pristine && $ctrl.error.newPassword2">
                <span class="help-block text-danger">{{ 'customer.change_password.validation.repeat_password' | t }}</span>
            </div>

            <button class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
                <span class="btn-text">{{ 'customer.change_password.submit' | t }}</span>
                <span class="btn-loading"></span>
            </button>
        </form>
</div>
