<div class="col-md-8">
    <div class="page-header">
        <h3>{{ 'customer.edit_profile.title' | t }}</h3>
    </div>

    <vc-errors message="errorMessage" errors="errors"></vc-errors>

    <form ng-submit="$ctrl.submit()" name="detailForm" novalidate>
        <div class="form-group">
            <vc-labeled-input value="$ctrl.member.lastName" name="last_name" placeholder="{{ 'customer.edit_profile.last_name' | t }}" form="detailForm" required="true"></vc-labeled-input>
            <vc-labeled-input value="$ctrl.member.title" name="title" type="text" placeholder="{{ 'customer.register.job_title' | t }}" form="detailForm" required="true"></vc-labeled-input>
            <vc-labeled-input value="$ctrl.member.email" name="email" placeholder="{{ 'customer.edit_profile.email' | t }}" form="detailForm" required="true" type="email"></vc-labeled-input>

            <div class="form-select">
                <select va-permission="storefront:organization:edit" ng-model="$ctrl.member.role" ng-options="x as x.name for x in $ctrl.availableRoles" name="Roles" required class="form-control" size="1">
                    <option value="">Please select role</option>
                </select>
            </div>

            <div class="form-group">
                <input ng-model="member.firstName" class="form-control" required placeholder="{{ 'customer.register.first_name' | t }}" />
                <span class="text-danger" ng-show="detailForm.$submitted && detailForm.firstName.$error.required">{{ 'common.required' | t }}</span>
            </div>

        </div>
        <button class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
            <span class="btn-text">{{ 'customer.edit_profile.submit' | t }}</span>
            <span class="btn-loading"></span>
        </button>
    </form>
</div>
