<div class="col-md-8">
    <ng-outlet ng-init=""></ng-outlet>
</div>
<script id="account-company-members-list.tpl" type="text/ng-template">
    <div ng-init="init('{{ shop.id }}', '{{ current_language.culture_name }}', '{{ "/account/register" | absolute_url }}')">
        <div class="page-header">
            <h3>{{ 'customer.edit_company_members.title' | t }}</h3>
        </div>
        <vc-errors message="errorMessage" errors="errors"></vc-errors>
        <table class="table" ng-if="$ctrl.entries.length">
            <thead>
                <tr>
                    <th>{{ 'customer.edit_company_members.name' | t }}</th>
                    <th>{{ 'customer.edit_company_members.email' | t }}</th>
                    <th>{{ 'customer.edit_company_members.role' | t }}</th>
                    <th>{{ 'customer.edit_company_members.status' | t }}</th>
                    <th>{{ 'customer.edit_company_members.actions' | t }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in $ctrl.entries">
                    <td ng-bind="member.userName"></td>
                    <td ng-bind="member.email"></td>
                    <td ng-bind="member.role.name"></td>
                    <td ng-bind="member.isLockedOut ?'Not active':'Active'"></td>
                    <td>
                        <span ng-show="$ctrl.showActions(member)">
                            <a ng-if="member.firstName" ng-click="$ctrl.edit(member.id)" href="">Edit | </a>
                            <a ng-click="$ctrl.delete(member)" href="">Delete</a>
                            <a ng-click="$ctrl.changeStatus(member)" href="" ng-bind="member.isLockedOut ? '| Activate' : '| Deactivate'"></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if='$ctrl.pageSettings.totalItems > $ctrl.pageSettings.itemsPerPageCount' ng-include="'pagerTemplate.html'"></div>
    <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading">{{ 'customer.edit_company_members.none' | t }}</p>

    <button va-permission="storefront:user:invite" ng-click="$ctrl.inviteInfo={}" ng-if="!$ctrl.newMember && !$ctrl.inviteInfo" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }" ng-disabled="$ctrl.loader.isLoading">
        <span class="btn-text">{{ 'customer.edit_company_member.invite.title' | t }}</span>
        <span class="btn-loading"></span>
    </button>
    <div ng-if="$ctrl.inviteInfo">
        <h3>{{ 'customer.edit_company_member.invite.title' | t }}</h3>
        <form accept-charset="UTF8" name="inviteForm" ng-submit="$ctrl.invite()" novalidate="novalidate">
            <!--<h5>{{ 'customer.edit_company_member.invite.emails_placeholder' | t }}</h5>-->
            <vc-labeled-text-area name="inviteEmails" form="inviteForm" label="{{ 'customer.edit_company_member.invite.emails_title' | t }}" value="$ctrl.inviteInfo.rawEmails" required="true" pattern="$ctrl.inviteEmailsValidationPattern" autofocus="true"></vc-labeled-text-area>
            <!--<h5>{{ 'customer.edit_company_member.invite.message_title' | t }}</h5>-->
            <vc-labeled-text-area name="inviteMessage" form="inviteForm" label="{{ 'customer.edit_company_member.invite.message_title' | t }}" value="$ctrl.inviteInfo.message" required="false"></vc-labeled-text-area>
            <button ng-click="$ctrl.cancel()" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }" ng-disabled="$ctrl.loader.isLoading">
                <span class="btn-text">{{ 'customer.edit_company_member.cancel' | t }}</span>
                <span class="btn-loading"></span>
            </button>
            <button ng-disabled="$ctrl.loader.isLoading" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }">
                <span class="btn-text">{{ 'customer.edit_company_member.invite.submit' | t }}</span>
                <span class="btn-loading"></span>
            </button>
        </form>
    </div>

    <button va-permission="storefront:user:create" ng-click="$ctrl.newMember={}" ng-if="!$ctrl.newMember && !$ctrl.inviteInfo" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }" ng-disabled="$ctrl.loader.isLoading">
        <span class="btn-text">{{ 'customer.edit_company_member.add_new' | t }}</span>
        <span class="btn-loading"></span>
    </button>
    <div ng-if="$ctrl.newMember">
        <div class="one-whole">
            <h2>{{ 'customer.edit_company_member.add_new' | t }}</h2>
            <vc-member-detail member="$ctrl.newMember" member-component="$ctrl.newMemberComponent" fields-config="$ctrl.addNewMemberFieldsConfig"></vc-member-detail>
        </div>
        <div class="one-whole">
            <button ng-click="$ctrl.cancel()" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }" ng-disabled="$ctrl.loader.isLoading">
                <span class="btn-text">{{ 'customer.edit_company_member.cancel' | t }}</span>
                <span class="btn-loading"></span>
            </button>
            <span class="form-spacer"></span>
            <button ng-click="$ctrl.addNewMember()" ng-disabled="$ctrl.loader.isLoading" class="btn btn-primary" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
                <span class="btn-text">{{ 'customer.edit_company_member.add' | t }}</span>
                <span class="btn-loading"></span>
            </button>
        </div>
    </div>
</script>
