<div class="col-md-8">
    <div class="page-header">
        <h3>{{ 'customer.change_password.title' | t }}</h3>
    </div>
    <vc-errors message="errorMessage" errors="errors"></vc-errors>
        <form ng-submit="$ctrl.submit()" name="detailForm">
            <vc-errors errors="$ctrl.errors" ng-if="$ctrl.errors.length"></vc-errors>

            <div class="alert alert-success" ng-if="$ctrl.succeeded">{{ 'customer.change_password.changed' | t }}</div>

            <div class="form-group" ng-init="$ctrl.setForm(detailForm)">
                <input ng-model="$ctrl.passwordChangeData.oldPassword" class="form-control" name="oldPassword" type="password" required vc-flying-placeholder="{{ 'customer.change_password.old_password' | t }}" />
                <span class="text-danger" ng-show="detailForm.oldPassword.$error.required && !detailForm.oldPassword.$pristine">{{ 'common.required' | t }}</span>
            </div>

            <div class="form-group">
                <input ng-model="$ctrl.passwordChangeData.newPassword" class="form-control" name="newPassword" type="password" required vc-flying-placeholder="{{ 'customer.change_password.new_password' | t }}" />
                <span class="text-danger" ng-show="$ctrl.error.newPassword && !detailForm.newPassword.$pristine">{{ 'customer.change_password.validation.new-password' | t }}</span>
            </div>

            <div class="form-group">
                <input ng-model="$ctrl.passwordChangeData.newPassword2" class="form-control" name="newPassword2" type="password" required vc-flying-placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" />
                <span class="text-danger" ng-show="!detailForm.newPassword2.$pristine && $ctrl.error.newPassword2">{{ 'customer.change_password.validation.new_password_confirm' | t }}</span>
            </div>

            <button class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
                <span class="btn-text">{{ 'customer.change_password.submit' | t }}</span>
                <span class="btn-loading"></span>
            </button>
        </form>
</div>
