<div class="col-md-8">
    <div class="page-header">
        <h3>{{ 'customer.edit_profile.title' | t }}</h3>
    </div>
    <vc-errors message="errorMessage" errors="errors"></vc-errors>
    <form ng-submit="$ctrl.submit()" name="detailForm" novalidate>
        <div class="form-group">
            <div class="form-group">
                <input class="form-control" ng-model="$ctrl.member.firstName" name="first_name" required vc-flying-placeholder="{{ 'customer.edit_profile.first_name' | t }}"/>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="$ctrl.member.lastName" name="last_name" required vc-flying-placeholder="{{ 'customer.edit_profile.last_name' | t }}"/>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="$ctrl.member.title" name="title" type="text" vc-flying-placeholder="{{ 'customer.register.job_title' | t }}"/>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="$ctrl.member.email" name="email" type="email" required vc-flying-placeholder="{{ 'customer.edit_profile.email' | t }}"/>
                <span class="text-danger" ng-show="!detailForm['email'].$pristine && detailForm['email'].$error.required">{{ 'common.required' | t }}</span>
                <span class="text-danger" ng-show="!detailForm['email'].$pristine && detailForm['email'].$error.email">{{ 'common.invalid' | t }}</span>
            </div>

            <div class="form-group">
                <select class="form-control" va-permission="storefront:organization:edit"  ng-model="$ctrl.member.role" ng-options="x as x.name for x in $ctrl.availableRoles" name="Roles" required vc-flying-placeholder="Role">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
            <span class="btn-text">{{ 'customer.edit_profile.submit' | t }}</span>
            <span class="btn-loading"></span>
        </button>
    </form>
</div>
