{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
<form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <p>{{ 'blogs.newsletter.message' | t: shop: shop }}</p>
    <div class="form-group">
        <input type="email" value="{% raw %}{{ customer ? customer.email : null }}{% endraw %}" placeholder="{{ 'blogs.newsletter.email_placeholder' | t }}" name="EMAIL" id="mail" class="form-control" aria-label="{{ 'blogs.newsletter.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
        <input type="submit" class="btn btn-default" value="{{ 'blogs.newsletter.sign_up' | t }}" name="subscribe" id="subscribe">
    </div>
</form>
