{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
<form id="mc-embedded-subscribe-form" action="{{ settings.mailing_list_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <p class="text-center text-condensed">{{ 'blogs.newsletter.message' | t: shop: shop }}</p>
    <div class="input-group">
        <input type="email" id="mail" class="form-control"  value="{% raw %}{{ customer ? customer.email : null }}{% endraw %}" placeholder="{{ 'blogs.newsletter.email_placeholder' | t }}" name="EMAIL" aria-label="{{ 'blogs.newsletter.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
            <input type="submit" id="subscribe" class="btn btn-primary" value="{{ 'blogs.newsletter.sign_up' | t }}" name="subscribe">
        </span>
    </div>
</form>
