<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if paginator.previous %}
            <li>
                <a href="{{ paginator.previous.url }}" title="{{ paginator.previous.title }}">
        {% else %}
            <li class="disabled">
                <a title="{{ paginator.previous.title }}">
        {% endif %}
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for part in paginator.parts %}
            {% if part.is_link %}
                <li><a href="{{ part.url }}">{{ part.title }}</a></li>
            {% else %}
                {% if part.title == paginator.current_page %}
                    <li class="active"><span>{{ part.title }}</span></li>
                {% else %}
                    <li><span>{{ part.title }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if paginator.next %}
            <li>
                <a href="{{ paginator.next.url }}" title="{{ paginator.next.title }}">
        {% else %}
            <li class="disabled">
                <a title="{{ paginator.next.title }}">
        {% endif %}
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
