{% include 'shared/item-response-group' %}
{% assign response_group = default_product_search_resp_group | plus: item_resp_group_variations | plus: item_resp_group_item_properties | plus: item_resp_group_item_editorial_reviews %}
<div class="text-uppercase">{{ product.metafields.properties['Brand'] }}</div>
<p>
    <a class="text-truncate" href="{{ product_url | append: '?resp_group=' | append: response_group }}">{{ product.title }}</a><br>
    {{ 'products.product.sku' | t }}&nbsp;<a href="{{ product_url| append: '?resp_group=' | append: response_group }}">{{ product.selected_variant.sku }}</a><br>
    {{ 'products.product.mmn' | t }}&nbsp;{{ product.metafields.properties['MMN'] }}
</p>
