<uib-accordion close-others="false">
{% unless product_search_result.aggregations.empty? %}
    {% for aggregation in product_search_result.aggregations %}                
    {% assign current_tags = current_product_search_criteria.terms %}
    {% capture group_label %}{% if aggregation.field == 'price' %}{{ 'tags.price.label' | t }}{% else %}{{ aggregation.label }}{% endif %}{% endcapture %}
    <div class="panel-default" uib-accordion-group heading="{{ group_label | escape }}" template-url="collection-sidebar-default-group.html" is-open="true">
        <ol class="list-unstyled">
            {% for tag in current_tags %}
                {% if aggregation.field == tag.name %}
                    {% assign current_tag = tag %}
                {% endif %}
            {% endfor %}
            {% for custom_tag in aggregation.items %}                        
                {% assign tag = custom_tag %}
                {% include 'tag-label' %}                
                {% if current_tag and current_tag.value == custom_tag.value  %}
                    <li class="checkbox advanced-filter active-filter" data-group="{{ aggregation.field }}" data-handle="{{ current_tag.name | handleize }}">
                {% else %}
                    <li class="checkbox advanced-filter" data-group="{{ aggregation.field }}">
                {% endif %}
                <label>                                    
                    <input type="checkbox" ng-checked="{{ current_tag.value == custom_tag.value }}">
                    <a vc-query-source="{ terms: { '{{ aggregation.field }}': ['{{ custom_tag.value }}'] } }" switchable="true">
                        <span class="switch"></span>
                        <span class="name">{{ tag_label }} <span class="count">({{ custom_tag.count }})</span></span>
                    </a>
                </label>                       
            {% endfor %}  
        </ol>
    </div>    
    {% endfor %}
{% endunless %}
</uib-accordion>
{% raw %}
    <script type="text/ng-template" id="collection-sidebar-default-group.html">
        <div role="tab" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="" aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" ng-class="{'collapsed': !isOpen }" ng-click="toggleOpen()" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle>
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                    <i class="pull-right fa" ng-class="{'fa-chevron-down': isOpen, 'fa-chevron-right': !isOpen}"></i>
                </a>
            </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>
{% endraw %}
