{%- if collection.all_tags.size > 0 -%}            
    {%- comment -%}
        Loop through tag categories
    {%- endcomment -%}
    {%- for cat_item in collection.all_tags.groups -%}
        {%- comment -%}
            Ignore if tag category is empty
        {%- endcomment -%}
        {%- unless cat_item == '' -%}
            {%- capture group_label %}{% if cat_item == 'price' %}{{ 'tags.price.label' | t }}{% else %}{{ cat_item }}{% endif %}{%- endcapture -%}
            <div class="panel-default" uib-accordion-group heading="{{ group_label | escape }}" template-url="collection-sidebar-default-group.html" is-open="true">
                <ol class="list-unstyled">
                    {%- comment -%}
                        Loop through collection tags
                    {%- endcomment -%}
                    {%- for custom_tag in collection.all_tags -%}
                        {%- if custom_tag.group_label == cat_item -%}
                            {%- comment -%}
                                Strip out tag category prefix and add/remove link for tag filtering
                            {%- endcomment -%}
                            {%- include 'tag-label', tag: custom_tag -%}
                            {% if current_tags contains custom_tag %}
                                {% assign is_active = true %}
                            {% else %}
                                {% assign is_active = false %}
                            {% endif %}
                            {%- if is_active -%}
                                <li class="checkbox advanced-filter active-filter" data-group="{{ cat_item }}" data-handle="{{ custom_tag.id | handleize }}">
                            {%- else -%}
                                <li class="checkbox advanced-filter" data-group="{{ cat_item }}">
                            {%- endif -%}
                                <label>                                    
                                    <input type="checkbox" ng-checked="{{ is_active }}">
                                    <a vc-query-source="{ terms: { '{{ cat_item }}': ['{{ custom_tag.value }}'] } }" query-type="'checkable'">
                                        <span class="switch"></span>
                                        <span class="name">{{ tag_label }} <span class="count">({{ custom_tag.count }})</span></span>
                                    </a>
                                </label>
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ol>
            </div>
        {%- endunless -%}
    {%- endfor -%}
{%- endif -%}
