<div class="panel-default panel-static" uib-accordion-group template-url="collection-sidebar-always-visible-group.html" is-open="always">
    <uib-accordion-heading>
        {{ 'collections.general.availability' | t }}
    </uib-accordion-heading>
    <div ng-controller="inventoryController as $inventory">
        <div ng-include="widgetBranchUrl"></div>
        <form>
            <p>{{ 'collections.sidebar.search_within' | t }}</p>
            <div class="checkbox" ng-click="$collection.selectedBranch()">
                <input type="checkbox" ng-model="$collection.searchInBranch">
                <a vc-query-source="$collection.keywordQuery" switchable="false">
                    <span class="switch"></span>
                    <span class="name">In stock now at your brach</span>
                </a>
            </div>
        </form>
    </div>
    
</div>

<script type="text/ng-template" id="unselected-branch">
    <a href="#" ng-click="selectFulfillmentCenter()">{{ 'collections.general.select_branch_title' | t }}</a> 
    {{ 'collections.general.select_branch_description' | t }}
</script>

<script type="text/ng-template" id="selected-branch">
    {% raw %}
    <form>
        <p>
            {{currentFulfillmentCenter.name}} – <a ng-href="/fulfillmentcenter/{{currentFulfillmentCenter.id}}" target="_blank">Info</a> |
            <a href="#" ng-click="selectFulfillmentCenter()" vc-query-source="$collection.keywordQuery" switchable="false">Change</a>
        </p>
    </form>
    {% endraw %}
</script>
