<nav ng-show="checkout.cart.itemsCount > 0" class="navbar navbar-default navbar-fixed-top visible-xs-block visible-sm-block" role="navigation">
    <p class="navbar-text navbar-left">
        <small>{{ 'checkout.total' | t }}:</small>
        <strong class="text-success" ng-bind="checkout.cart.total.formattedAmount"></strong>
    </p>
</nav>
<main class="container" role="main" ng-controller="checkoutController">
    <div class="row">
        <div class="col-xs-12" ng-show="checkout.cart.itemsCount == 0" ng-cloak>
            <h2>{{ 'cart.general.empty' | t }}</h2>
            <a href="{{ '/' | absolute_url }}" class="btn btn-lg btn-primary">{{ 'cart.general.continue_shopping' | t }}</a>
        </div>
    </div>
    <div class="row" ng-show="checkout.cart.itemsCount > 0">
        <div class="hidden-xs hidden-sm col-md-12 hidden-print">
            <div class="page-header clearfix">
                <ol class="nav nav-pills pull-left">
                    <li role="presentation" ng-repeat="step in checkout.wizard.steps" ng-class="{'active': step.isActive}">
                        <a href="" ng-click="checkout.wizard.goToStep(step)">
                            <span class="h1 text-middle" ng-bind="$index + 1"></span>
                            <u class="h2 text-middle" ng-bind="step.title"></u>
                        </a>
                    </li>
                </ol>
                <ul class="list-inline pull-right">
                    <li>
                        <a href="" class="btn btn-link" ng-click=""><i class="fa fa-bullhorn"></i>&ensp;Feedback</a>
                    </li>
                    <li>
                        <a href="" class="btn btn-link" ng-click=""><i class="fa fa-envelope"></i>&ensp;Email</a>
                    </li>
                    <li>
                        <a href="" class="btn btn-link" ng-click="print()"><i class="fa fa-print"></i>&ensp;Print</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <vc-checkout-wizard wizard-model="checkout.wizard" on-initialized="initialize()" loading="checkout.loading">
                <vc-checkout-wizard-step name="cart" title="My Cart">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <div class="container-drain container-bordered-horizontal">
                                    <div class="row hidden-xs hidden-sm">
                                        <div class="col-xs-12">
                                            <vc-checkout-delivery-method delivery-method="checkout.deliveryMethod" on-eval-availability="evalAvailability(deliveryMethod)"></vc-checkout-delivery-method>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                My products
                                                <ul class="list-horizontal link-reset pull-right">
                                                    <li>
                                                        <a href="">Show Reference Information</a>
                                                    </li>
                                                    <li>
                                                        <a href="" ng-click="clearCart()">Clear Cart</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="lineItem in checkout.cart.items">
                                        <vc-checkout-line-item line-item="lineItem" on-change-qty="changeItemQty(lineItem)" on-remove="removeItem(lineItem)" readOnly="true"></vc-checkout-line-item>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="text-center"><strong>If you changed multiple quantities, </strong><a href="">Update All</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-3">
                                <p>
                                    <button class="btn btn-lg btn-block btn-primary" type="button" ng-disabled="checkout.loading" ng-click="checkout.wizard.nextStep()">
                                        {{ 'cart.general.checkout' | t }}
                                    </button>
                                </p>
                                <div class="panel-group">
                                    <div class="panel panel-default panel-static">
                                        <div class="panel-heading">
                                            Order summary
                                        </div>
                                        <div class="panel-body">
                                            <vc-totals order="checkout.cart" options="{ show: { payment: false, discount: {% if settings.show_prices_with_taxes %}cart.discountWithTaxes{% else %}cart.discount{% endif %}.amount > 0 } }"></vc-totals>
                                        </div>
                                    </div>
                                    <div class="panel panel-default panel-static">
                                        <div class="panel-heading">
                                            Promotion code
                                        </div>
                                        <div class="panel-body">
                                            <vc-checkout-coupon coupon="checkout.coupon" on-apply-coupon="applyCoupon(coupon)" on-remove-coupon="removeCoupon(coupon)"></vc-checkout-coupon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step name="review" title="Review">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <div class="container-drain container-bordered-horizontal">
                                    <div class="row hidden-xs hidden-sm">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                Delivery method
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="deliveryMethods" id="shipping" ng-model="checkout.deliveryMethod.type" value="shipping">
                                                        <span class="switch"></span>
                                                        <span class="name">Shipping</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="deliveryMethods" id="pickup" ng-model="checkout.deliveryMethod.type" value="pickup">
                                                        <span class="switch"></span>
                                                        <span class="name">Pickup</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row hidden-xs hidden-sm" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                Shipping address
                                                <ul class="list-horizontal link-reset pull-right">
                                                    <li>
                                                        <a href="" ng-click="changeShippingAddress()">Change</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                        <div class="col-xs-12" ng-if="checkout.shipment.deliveryAddress.name">
                                            <vc-address address="checkout.shipment.deliveryAddress" edit-mode="false"></vc-address>
                                        </div>
                                        <div class="col-xs-12" ng-if="!checkout.shipment.deliveryAddress.name">
                                            <h4><small>Please enter shipping address</small></h4>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                SHIPPING METHOD
                                                <ul class="list-horizontal link-reset pull-right">
                                                    <li>
                                                        <a href="" ng-click="changeShippingMethod()">Change</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" ng-if="checkout.shipmentMethod.shipmentMethodCode">
                                            <address>
                                                <div class="h5">
                                                    <span ng-bind="checkout.shipmentMethod.name"></span>
                                                    <span>
                                                        <strong class="text-success" ng-bind="'(' + checkout.shipmentMethod.price.formattedAmount + ')'"></strong>
                                                    </span>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-xs-12" ng-if="!checkout.shipmentMethod.shipmentMethodCode">
                                            <h4><small>Please select shipping method</small></h4>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                PICKUP ADDRESS
                                                <ul class="list-horizontal link-reset pull-right">
                                                    <li>
                                                        <a href="" ng-click="changePickupAddress()">Change</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                        <div class="col-xs-12" ng-if="checkout.shipment.deliveryAddress.name">
                                            <vc-address address="checkout.shipment.deliveryAddress" edit-mode="false"></vc-address>
                                        </div>
                                        <div class="col-xs-12" ng-if="!checkout.shipment.deliveryAddress.name">
                                            <h4><small>Please select branch</small></h4>
                                        </div>
                                    </div>

                                    <div class="row hidden-xs hidden-sm">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                PAYMENT METHOD
                                                <ul class="list-horizontal link-reset pull-right">
                                                    <li>
                                                        <a href="" ng-click="changePaymentMethod()">Change</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" ng-if="checkout.payment.name">
                                            <address>
                                                <div class="col-xs-2 col-md-1">
                                                    <img class="img-responsive" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ checkout.payment.logoUrl }}{% endraw %}" />
                                                </div>
                                                <div class="h5">
                                                    <span ng-bind="checkout.payment.name"></span>
                                                    <span><small ng-bind="checkout.payment.description"></small></span>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-xs-12" ng-if="!checkout.payment.name">
                                            <h4><small>Please select payment method</small></h4>
                                        </div>
                                    </div>

                                    <div class="row hidden-xs hidden-sm">
                                        <div class="col-xs-12">
                                            <div class="h2">
                                                MY PRODUCTS
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flexible text-condensed" ng-repeat="lineItem in checkout.cart.items">
                                        <vc-checkout-line-item line-item="lineItem"></vc-checkout-line-item>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-3">
                                <p>
                                    <button class="btn btn-lg btn-block btn-primary" type="button" ng-disabled="checkout.loading" ng-click="createOrder()">
                                        Submit order
                                    </button>
                                </p>
                                <div class="panel-group">
                                    <div class="panel panel-default panel-static">
                                        <div class="panel-heading">
                                            Order summary
                                        </div>
                                        <div class="panel-body">
                                            <vc-totals order="checkout.cart" options="{ show: { payment: false, discount: {% if settings.show_prices_with_taxes %}cart.discountWithTaxes{% else %}cart.discount{% endif %}.amount > 0 } }"></vc-totals>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step name="complete" title="Complete" final="true">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-9"><p><span><i class="fa fa-check-circle fa-2x text-middle success" aria-hidden="true"></i></span> Order<span ng-bind="checkout.order.number"></span> {{ 'checkout.order_successfully' | t: number: number }}</p></div>
                                        <div class="col-md-3">
                                            <div class="btn-group pull-right" role="group">
                                                <button type="button" class="btn btn-default" ng-click="getInvoicePdf()"><p> {{ 'checkout.order-print' | t }}</p></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="center-block text-center"><p>{{ 'checkout.order-summary' | t }}</p></div>
                                            <vc-totals order="checkout.order"></vc-totals>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="center-block text-center"><p>{{ 'checkout.pickup-address' | t }}</p></div>
                                            <vc-address address="checkout.order.shipments[0].deliveryAddress"></vc-address>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="center-block text-center">{{ 'checkout.payment-method' | t }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>{{ 'checkout.purchased-products' | t }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="lineItem in checkout.order.items">
                                            <vc-checkout-line-item line-item="lineItem" readOnly="true"></vc-checkout-line-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
            </vc-checkout-wizard>
        </div>
    </div>
</main>


<script id="storefront.select-address-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()" title="Select address" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">SELECT/ENTER address</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" ng-repeat="address in addresses">
                <div class="form-group">
                    <div class="col-xs-1">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" ng-model="checkout.deliveryAddress" ng-value="address">
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <vc-address address="address">
                            <address-header>
                                <div class="h5" ng-bind="address.name"></div>
                            </address-header>
                        </vc-address>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-1">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" ng-model="checkout.deliveryAddress" ng-value="checkout.newAddress">
                                <span class="switch"></span>
                                <span class="name">New</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="checkout.deliveryAddress == checkout.newAddress">
                <div class="col-md-12">
                    <vc-address address="checkout.deliveryAddress" edit-mode="true" countries="checkout.availCountries" get-country-regions="checkout.getCountryRegions(country)">
                    </vc-address>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(checkout.deliveryAddress)">Update</button>
    </div>
</script>


<script id="storefront.select-shipment-method-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()" title="SHIPPING METHOD" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">AVAILABLE SHIPPING METHODS / ESTIMATED ARRIVAL</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div ng-repeat="(key, value) in availShippingMethods | groupBy: 'shipmentMethodCode' ">
                <div class="row" ng-repeat="method in value">
                    <div class="form-group">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" ng-model="checkout.shipmentMethod" ng-value="method">
                                <span class="switch"></span>
                                <span class="name" ng-bind="method.name"></span><span ng-bind="method.optionName"></span>
                                <span>
                                    <strong class="text-success" ng-bind="'(' + method.price.formattedAmount + ')'"></strong>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(checkout.shipmentMethod)">Update</button>
    </div>
</script>

<script id="storefront.select-payment-method-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()" title="Select payment method" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select payment method</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" ng-repeat="paymentMethod in availPaymentMethods">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" ng-model="checkout.paymentMethod" ng-value="paymentMethod">
                                    <span class="switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <img class="img-responsive" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ paymentMethod.logoUrl }}{% endraw %}" />
                        </div>
                        <div class="col-xs-10">
                            <address>
                                <span><strong ng-bind="paymentMethod.name"></strong></span><br>
                                <span ng-bind="paymentMethod.description"></span>
                            </address>
                        </div>
                    </div>
                    <div class="row buffer"><div class="col-md-12"><p></p></div></div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="checkout.paymentMethod == paymentMethod && paymentMethod.paymentMethodType === 'Standard'">
                            <vc-credit-card card="paymentMethod.card" validation-container="validationContainer"></vc-credit-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(checkout.paymentMethod)">Update</button>
    </div>
</script>
