<main class="container container-drain container-bordered-horizontal" role="main">

    <div class="col-xs-12">
        {% include 'shared/breadcrumb' %}
    </div>
    <div class="col-xs-12">
        <div>
            <h2>{{fulfillment.name}}</h2> 
        </div>
        <div class="row">
            <div id="main-content" class="col-xs-12 col-sm-12 col-md-10 container-drain container-bordered">
                <div id="individualBranchDetails">
                    <div class="branchDetails">
                        <p>{{fulfillment.address.address1}}, {{fulfillment.address.city}}, {{fulfillment.address.province}}, , {{fulfillment.address.zip}}</p>

                        <div><span>Phone Number:</span>{{fulfillment.address.phone}}</div>
                            <div class="branchHours">
                                <h3>Branch Hours</h3>
                                <table class="table">
                                    <tbody><tr>
                                        <th class="day">Day</th>
                                        <th><span class="hours">Hours</span></th>
                                    </tr>
                                    <tr>
                                        <td>MON</td>
                                        <td>7:30 AM - 5:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>TUE</td>
                                        <td>7:30 AM - 5:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>WED</td>
                                        <td>7:30 AM - 5:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>THU</td>
                                        <td>7:30 AM - 5:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>FRI</td>
                                        <td>7:30 AM - 5:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>SAT</td>
                                        <td>
                                            
                                                    CLOSED
                                                </td>
                                    </tr>
                                    <tr>
                                        <td>SUN</td>
                                        <td>CLOSED</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>