{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

<!-- TODO: Badges -->

<li class="col-md-4 grid-item">
    <div class="grid-inner">
        {% assign product_url = product.url | within: current_collection %}
        <div class="grid-img">
            <a href="{{ product_url }}">
                {% if product.featured_image %}
                    <img ng-src="{{ product.featured_image.src | img_url: "168x168" }}" fallback-src="{{ product.featured_image.src | img_url }}" alt="{{ product.featured_image.alt | escape }}" class="grid-pic" />
                {% else %}
                    <img src="{{ 'no-image.svg' | asset_url }}" class="grid-pic no-image" />
                {% endif %}
            </a>
            <!-- TODO: Compare -->
            <!--<div class="grid-compare">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <span class="switch"></span>
                        <span class="name">Compare</span>
                    </label>
                </div>
            </div>-->
        </div>
        <div class="grid-name">
            <a href="{{ product_url }}">
                {{ product.title }}
            </a>
        </div>
        <div class="grid-sku">
            {{ 'products.product.sku' | t }}&nbsp;<a href="{{ product_url }}">{{ product.selected_variant.sku }}</a>
        </div>
        <div class="grid-brand">{{ product.metafields.properties['Brand'] }}</div>
        <div class="grid-price">
            {% if customer %}
                <div class="price-label">{{ 'products.price.private' | t }}</div>
            {% else %}
                <div class="price-label">{{ 'products.price.public' | t }}</div>
            {% endif %}
            <div class="price-value">
                {% if settings.show_prices_with_taxes %}
                    {% include 'product/price', price: product.price_with_tax %}
                {% else %}
                    {% include 'product/price', price: product.price %}
                {% endif %}
            </div>
            <!-- TODO: Replace with product unit -->
            <div class="price-unit">/ each</div>
        </div>
        <div class="grid-other">
            <input type="text" class="form-control" ng-init="product['{{product.id}}'].quantity = 1" ng-model="product['{{product.id}}'].quantity">
            <button class="btn btn-alt btn-primary" title="{{ 'products.general.add_to_cart' | t }}" ng-click="addProductToCartById('{{ product.id }}', product['{{product.id}}'].quantity, $event)" ng-controller="productController">{{ 'products.general.add_to_cart' | t }}</button>
        </div>
    </div>
</li>
