{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

<!-- TODO: Badges -->

<div class="list-item clearfix">
    {% assign product_url = product.url | within: current_collection %}
    <div class="list-img col-md-3">
        <a href="{{ product_url }}">
            {% if product.featured_image %}
                <img ng-src="{{ product.featured_image.src | img_url: "168x168" }}" fallback-src="{{ product.featured_image.src | img_url }}" alt="{{ product.featured_image.alt | escape }}" />
            {% else %}
                <img src="{{ 'no-image.svg' | asset_url }}" class="no-image" />
            {% endif %}
        </a>
        <!-- TODO: Compare -->
        <!--<div class="list-compare">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <span class="switch"></span>
                    <span class="name">Compare</span>
                </label>
            </div>
        </div>-->
    </div>
    <div class="list-info col-md-4">
        <div class="list-brand">{{ product.metafields.properties['Brand'] }}</div>
        <a class="list-name" href="{{ product_url }}">
            {{ product.title }}
        </a>
        <div class="list-sku">
            {{ 'products.product.sku' | t }}&nbsp;<a href="{{ product_url }}">{{ product.selected_variant.sku }}</a>
        </div>
        <div class="list-model">
            {{ 'products.product.mmn' | t }}&nbsp;{{ product.metafields.properties['MMN'] }}
        </div>
        <div class="list-descr" ng-init="isDescriptionTruncated['{{ product.id }}'] = true">
            {% for description in product.descriptions %}
                {% if description.type == 'QuickReview' %}
                    {% assign quick_review = description.content %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <div ng-if="isDescriptionTruncated['{{ product.id }}']">{{ quick_review | strip_html | truncatewords: 30 }}</div><a href="" ng-show="isDescriptionTruncated['{{ product.id }}']" ng-click="isDescriptionTruncated['{{ product.id }}'] = false">{{ 'common.more' | t }}</a>
            <div ng-if="!isDescriptionTruncated['{{ product.id }}']">{{ quick_review }}</div>
        </div>
    </div>
    <div class="list-other col-md-5">
        <div class="list-price col-md-4" ng-if="!productListPricesLoaded">
            {% if customer %}
                <div class="price-label">{{ 'products.price.private' | t }}</div>
            {% else %}
                <div class="price-label">{{ 'products.price.public' | t }}</div>
            {% endif %}
            <div class="price-value">
                {% if settings.show_prices_with_taxes %}
                    {% include 'product/price' with product.price_with_tax %}
                {% else %}
                    {% include 'product/price' with product.price %}
                {% endif %}
            </div>
            <!-- TODO: Replace with product unit -->
            <div class="price-unit">/ each</div>
        </div>
        <div class="list-price col-md-4" ng-if="productListPricesLoaded">
            <div class="price-label" ng-if="customer">{{ 'products.price.private' | t }}</div>
            <div class="price-label" ng-if="!customer">{{ 'products.price.public' | t }}</div>
            <div class="price-value">
                {% if settings.show_prices_with_taxes %}
                    {% raw %}{{ productListPrices['{{ product.id }}'].actualPriceWithTax.formattedAmount }}{% endraw %}
                {% else %}
                    {% raw %}{{ productListPrices['{{ product.id }}'].actualPrice.formattedAmount }}{% endraw %}
                {% endif %}
            </div>
            <div class="price-unit">/ each</div>
        </div>
        <div class="col-md-8">
            <div class="list-cart">
                <label>{{ 'products.product.quantity' | t }}</label>
                <div class="form-group group-flex">
                    <input type="text" class="form-control qty" value="1">
                    <button class="btn btn-alt btn-primary">{{ 'products.product.add_to_cart' | t }}</button>
                </div>
                <a class="add-to-list" href="#"><i class="fa fa-plus"></i> {{ 'products.list.add_to_myList' | t }}</a>
                <div class="ship-pickup dropdown">
                    <a class="dropdown" id="pickup" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Ship or Pickup
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pickup">
                        <div class="dropdown-head">
                            <p>Confirm ZIP Code to determine availability.</p>
                        </div>
                        <div class="dropdown-body">
                            <input type="text" class="form-control">
                        </div>
                        <div class="dropdown-foot">
                            <a href="#">Cancel</a>
                            <a class="btn btn-default" href="#">Save</a>
                        </div>
                    </div>
                </div>
                <p>Catalog Page # NA </p>
            </div>
        </div>
    </div>
</div>

{% comment %}
{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
    {% assign sold_out = false %}
{% endif %}

{% assign image_size = settings.collection_prod_image_sizes %}

<div class="grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
    <a href="{{ product.url | within: current_collection }}" class="product-grid-item product-list-item">
        <div class="grid">
            <div class="grid-item large--one-fifth medium--one-third">
                {% if product.featured_image %}
                    <img src="{{ product.featured_image.src | img_url }}" alt="{{ product.featured_image.alt | escape }}" />
                {% else %}
                    <div class="no-product-image">
                        <img src="{{ 'no-image.svg' | asset_url }}" />
                    </div>
                {% endif %}
            </div>
            <div class="grid-item large--three-fifths medium--two-thirds">
                <p class="h6">{{ product.title }}</p>
                <div class="rte">
                    {% if product.excerpt.size > 0 %}
                        {{ product.excerpt }}
                    {% else %}
                        <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
                    {% endif %}
                </div>
                {% comment %}
                    {% if product.variants.size == 1 %}
                        <button class="btn" type="button">{{ 'products.general.add_to_cart' | t }}</button>
                        {% if product.is_quotable %}
                            <button class="btn" type="button">{{ 'products.general.add_to_quote' | t }}</button>
                        {% endif %}
                    {% endif %}
                {% endcomment %}
            </div>
            <div class="grid-item large--one-fifth medium--two-thirds">
                <div class="product-item--price text-center" ng-if="!productPricesLoaded">
                    <p class="h1 medium-down--left">
                        {% include 'price' with product.price %}
                    </p>
                    {% if on_sale %}
                        <span class="sale-tag medium-down--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
                            {% assign compare_price = product.compare_at_price %}
                            {% assign product_price = product.price %}
                            {% include 'price-sale' %}
                        </span>
                    {% endif %}
                    {% if settings.product_reviews_enable %}
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% endif %}
                </div>

                <div class="product-item--price text-center" ng-if="productPricesLoaded">
                    {% if settings.show_prices_with_taxes %}
                        <p class="h1 medium-down--left">
                            <span class="old" ng-if="productPrices['{{ product.id }}'].discountAmountWithTax.amount > 0">
                                <small ng-bind="productPrices['{{ product.id }}'].listPriceWithTax.formattedAmount"></small>
                            </span>
                            <small ng-bind="productPrices['{{ product.id }}'].actualPriceWithTax.formattedAmount"></small>
                        </p>
                        <span class="sale-tag medium--right" ng-if="productPrices['{{ product.id }}'].discountAmountWithTax.amount > 0" ng-bind="'save ' + productPrices['{{ product.id }}'].discountAmountWithTax.formattedAmount"></span>
                    {% else %}
                        <p class="h1 medium-down--left">
                            <span class="old" ng-if="productPrices['{{ product.id }}'].discountAmount.amount > 0">
                                <small ng-bind="productPrices['{{ product.id }}'].listPrice.formattedAmount"></small>
                            </span>
                            <small ng-bind="productPrices['{{ product.id }}'].actualPrice.formattedAmount"></small>
                        </p>                         
                        <span class="sale-tag medium--right" ng-if="productPrices['{{ product.id }}'].discountAmount.amount > 0" ng-bind="'save ' + productPrices['{{ product.id }}'].discountAmount.formattedAmount"></span>
                    {% endif %}

                    {% if settings.product_reviews_enable %}
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% endif %}
                </div>

            </div>
        </div>
    </a>
</div>
{% endcomment %}
