<div class="toolbar hidden-print clearfix">
    {% include 'shared/breadcrumb' %}
    <ul class="toolbar-actions pull-right">
        <li>
            <i class="fa fa-envelope"></i>
            <a href="" ng-click="">Email</a>
        </li>
    </ul>
</div>
<div class="product-page clearfix" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ product.url | absolute_url}}">

    <h1>{{ product.title }}</h1>
    <p>6 products found with these common attributes: {{ product.selected_variant }}</p>
    <p>Narrow your results by</p>

    <div ng-init="filters = { terms: undefined }" vc-query-target="filters">
        <ul class="list-inline list-unstyled">
            <li class="dropdown" ng-repeat="(propName, props) in filterableVariationPropsMap" uib-dropdown aria-haspopup="true">
                <button class="btn btn-alt btn-secondary" uib-dropdown-toggle>{% raw %}{{ propName }}{% endraw %}&nbsp;<i class="dropdown-ico fa fa-angle-down"></i></button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu ng-init="propQuery = { terms: { [propName]: undefined } }" vc-query-target="propQuery">
                    <li ng-repeat="prop in props">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="propQuery.terms[propName].includes(prop.value)">
                                <a vc-query-source="{ terms: { [propName]: [prop.value] } }" query-type="'checkable'">
                                    <span class="switch"></span>
                                    <span class="name">{% raw %}{{ prop.value }}{% endraw %}</span>
                                </a>
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="list-inline list-unstyled">
            <li ng-repeat="term in filters.terms | toArray: true | orderBy: '$key'">
                <h6>{% raw %}{{ term.$key }}{% endraw %}</h6>
                <ul class="search-terms">
                    <li class="list-item" ng-repeat="value in term">
                        {% raw %}{{ value }}{% endraw %}&ensp;<a vc-query-source="{ terms: { [term.$key]: [value] } }" query-type="'checkable'" class="fa fa-times-circle"></a>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-show="filters.terms" class="action" vc-query-source="{ terms: null }">Clear all</a>
            </li>
        </ul>
    </div>

    <div class="table-cols">
        <div class="table-head">
            <div class="table-controls clearfix">
                <div class="compare-controls pull-left">
                    Select items to compare
                </div>
                <div class="pull-right">
                    <div class="purchase">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="switch"></span>
                                <span class="name">View Previously Purchased</span>
                            </label>
                        </div>
                    </div>
                    <div class="product-controls">
                        <a href="#">Add to list</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="table-row clearfix">
                <div class="col-md-3">
                    <div class="table-col">Compare / item #</div>
                    <div class="table-col">Mfr. Model #</div>
                </div>
                <div class="col-md-6">
                    <div class="table-col" ng-repeat="(propName, props) in allVariationPropsMap">{% raw %}{{ propName }}{% endraw %}</div>
                </div>
                <div class="col-md-3">
                    <div class="table-col">Price</div>
                    <div class="table-col">
                        <vc-shipping-type id="shipOrPickup" is-dropdown="true" title="Ship or pickup" subtitle="Enter location" pickup-method-code="{{ settings.pickup_shipping_method }}"></vc-shipping-type>
                    </div>
                    <div class="table-col">Qty</div>
                </div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row container-fluid clearfix" ng-if="!allVariations.length">
                <div class="col-md-12 text-center">
                    Sorry, no results available
                </div>
            </div>
            {% for variant in product.variants %}
                <div class="table-row container-fluid clearfix" ng-if="allVariationsMap['{{ variant.id }}']" ng-init="isCollapsed['{{ variant.id }}'] = true;">
                    <div class="table-content table-item row" ng-click="isCollapsed['{{ variant.id }}'] = !isCollapsed['{{ variant.id }}']">
                        <div class="col-md-3">
                            <div class="table-col">
                                <img class="table-pic" src="{{ variant.featured_image.src }}" alt="">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="switch"></span>
                                        <span class="name">Compare</span>
                                    </label>
                                </div>
                            </div>
                            <div class="table-col">Temp</div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-col" ng-repeat="property in allVariationsMap['{{ variant.id }}'].variationProperties">{% raw %}{{ property.value }}{% endraw %}</div>
                        </div>
                        <div class="col-md-3">
                            <div class="table-col">
                                <div class="price-value">
                                    {% if settings.show_prices_with_taxes %}
                                        {% include 'product/price', price: variant.price_with_tax %}
                                    {% else %}
                                        {% include 'product/price', price: variant.price %}
                                    {% endif %}
                                </div>
                                <!-- TODO: Replace with product unit -->
                                <div class="price-unit">/ each</div>
                            </div>
                            <div class="table-col">
                                <a href="" ng-click="$event.stopPropagation()" onclick="document.getElementById('shipOrPickup').getElementsByClassName('dropdown-toggle')[0].click()">Enter location</a> to <br> check availability
                            </div>
                            <div class="table-col">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="expand fa" ng-class="{'fa-angle-down': isCollapsed['{{ variant.id }}'], 'fa-angle-up': !isCollapsed['{{ variant.id }}'] }"></div>
                    </div>
                    <div class="table-content table-detail" uib-collapse="isCollapsed['{{ variant.id }}']">
                        <div class="row flexible">
                            <div class="table-pic col-md-2">
                                {% if variant.featured_image %}
                                    <img ng-src="{{ variant.featured_image.src | img_url: "168x168" }}" fallback-src="{{ variant.featured_image.src | img_url }}" alt="{{ varoant.featured_image.alt | escape }}" />
                                {% else %}
                                    <img src="{{ 'no-image.svg' | asset_url }}" class="no-image" />
                                {% endif %}
                            </div>

                            <div class="table-info col-md-5">
                                <div class="table-brand">{{ product.metafields.properties['Brand'] }}</div>
                                <a class="table-name" href="{{ product_url }}">
                                    {{ variant.title }}
                                </a>
                                <div class="table-sku">
                                    {{ 'products.product.sku' | t }}&nbsp;<a href="{{ product_url }}">{{ variant.sku }}</a>
                                </div>
                                <div class="table-model">
                                    {{ 'products.product.mmn' | t }}&nbsp;{{ variant.metafields.properties['MMN'] }}
                                </div>
                            </div>
                            <div class="table-price col-md-5">
                                <div class="catalog-page">Catalog Page #  NA</div>
                                {% if customer %}
                                    <div class="price-label">{{ 'products.price.private' | t }}</div>
                                {% else %}
                                    <div class="price-label">{{ 'products.price.public' | t }}</div>
                                {% endif %}
                                <div class="price-value">
                                    {% if settings.show_prices_with_taxes %}
                                        {% include 'product/price', price: variant.price_with_tax %}
                                    {% else %}
                                        {% include 'product/price', price: variant.price %}
                                    {% endif %}
                                </div>
                                <!-- TODO: Replace with product unit -->
                                <div class="price-unit">/ each</div>
                            </div>
                        </div>
                            <div class="tech-spec clearfix" ng-if="allVariationsMap['{{ variant.id }}'].variationProperties.length > 0" ng-init="propertiesSize = allVariationsMap['{{ variant.id }}'].variationProperties.length">
                                <h3>Technical Specs</h3>
                                <ul class="col-md-6 col-xs-6">
                                    <li ng-repeat="property in allVariationsMap['{{ variant.id }}'].variationProperties | limitTo: propertiesSize / 2 + propertiesSize % 2">
                                        <div class="tech-name col-md-4 col-xs-4" ng-bind="property.name"></div>
                                        <div class="tech-value col-md-8 col-xs-8" ng-bind="property.value"></div>
                                    </li>
                                </ul>
                                <ul class="col-md-6 col-xs-6">
                                    <li ng-repeat="property in allVariationsMap['{{ variant.id }}'].variationProperties | limitTo: allVariationsMap['{{ variant.id }}'].variationProperties.length : propertiesSize / 2 + propertiesSize %2">
                                        <div class="tech-name col-md-4 col-xs-4" ng-bind="property.name"></div>
                                        <div class="tech-value col-md-8 col-xs-8" ng-bind="property.value"></div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
