<ul class="list-inline">
    {% if settings.social_google_plus_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-google" href="{{ settings.social_google_plus_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Google' | escape }}">
                <i class="fa fa-google" aria-hidden="true"></i>
                <span class="text-hide">Google</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-facebook" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="text-hide">Facebook</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-twitter" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="text-hide">Twitter</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-instagram" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="text-hide">Instagram</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_linkedin_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-linkedin" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'LinkedIn' | escape }}">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <span class="text-hide">LinkedIn</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-youtube" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <span class="text-hide">YouTube</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-vimeo" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
                <span class="text-hide">Vimeo</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-tumblr" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                <span class="text-hide">Tumblr</span>
            </a>
        </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
        <li>
            <a class="btn btn-social-icon btn-pinterest" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <span class="text-hide">Pinterest</span>
            </a>
        </li>
    {% endif %}
</ul>
