<form accept-charset="UTF8" name="addrForm" novalidate="novalidate" ng-if="$ctrl.editMode">
    <div class="form-group" ng-init="$ctrl.setForm(addrForm)">

        <p class="form-error" ng-if="$ctrl.form.$submitted && $ctrl.form.Type.$error.required">
            {{ 'checkout.address.required_type' | t }}
        </p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input ng-model="$ctrl.address.firstName" class="form-control" name="firstName" type="text" required vc-flying-placeholder="{{ 'checkout.address.first_name' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.firstName.$error.required">{{ 'common.required' | t }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input ng-model="$ctrl.address.lastName" class="form-control" name="lastName" type="text" required vc-flying-placeholder="{{ 'checkout.address.last_name' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.lastName.$error.required">{{ 'common.required' | t }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" ng-model="$ctrl.address.line1" name="line1" type="text" required vc-flying-placeholder="{{ 'checkout.address.address1' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.line1.$error.required">{{ 'common.required' | t }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" ng-model="$ctrl.address.line2" name="line2" type="text" vc-flying-placeholder="{{ 'checkout.address.address2' | t }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select ng-model="$ctrl.address.countryCode" ng-options="x.code3 as x.name for x in $ctrl.countries" name="countryCode" required class="form-control" size="1" vc-flying-placeholder="{{ 'checkout.address.country' | t }}">
                            <option value=""></option>
                        </select>
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.countryCode.$error.required">{{ 'checkout.country_required_message' | t }}</span>
                    </div>
                </div>
                <div class="col-md-6" ng-if="$ctrl.address.country.regions.length">
                    <div class="form-group">
                        <select ng-model="$ctrl.address.regionId" ng-options="x.code as x.name for x in $ctrl.address.country.regions" name="region" required class="form-control" size="1" vc-flying-placeholder="{% raw %}{{ 'customer.register.work-region-type' | translate: {type: $ctrl.address.country.regionType} }}{% endraw %}">
                            <option value=""></option>
                        </select>
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.region.$error.required" ng-bind="'Please select ' + $ctrl.address.country.regionType"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" ng-model="$ctrl.address.postalCode" name="postalCode" required pattern="\d{4,32}" vc-flying-placeholder="{{ 'checkout.address.zip' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.postalCode.$error.required">{{ 'common.required' | t }}</span>
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.postalCode.$error.pattern">{{ 'common.invalid' | t }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" ng-model="$ctrl.address.city" name="city" type="text" required vc-flying-placeholder="{{ 'customer.addresses.city' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.city.$error.required">{{ 'common.required' | t }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input ng-model="$ctrl.address.email" class="form-control" name="email" type="email" required vc-flying-placeholder="{{ 'customer.register.email-work' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.email.$error.required">{{ 'common.required' | t }}</span>
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.email.$error.email">{{ 'common.invalid' | t }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" ng-model="$ctrl.address.address.phone" name="phone" type="tel" ng-pattern="/^[0-9]{1,12}$/" vc-flying-placeholder="{{ 'customer.register.phone' | t }}" />
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.phone.$error.required">{{ 'common.required' | t }}</span>
                        <span class="text-danger" ng-show="$ctrl.form.$submitted && $ctrl.form.phone.$error.pattern">{{ 'common.invalid' | t }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<address ng-if="!$ctrl.editMode">
    <ng-transclude ng-transclude-slot="header"></ng-transclude>
    <div class="h5" ng-if="$ctrl.address.firstName || $ctrl.address.lastName || $ctrl.address.organization">
        <span ng-if="$ctrl.address.firstName" ng-bind="$ctrl.address.firstName"></span> <span ng-if="$ctrl.address.lastName" ng-bind="$ctrl.address.lastName"></span>
        <span ng-if="organization"><small ng-bind="$ctrl.address.organization"></small></span>
    </div>
    <span ng-bind="$ctrl.address.line1"></span><span ng-if="$ctrl.address.line2">, <span ng-bind="$ctrl.address.line2"></span></span>
    <span ng-bind="$ctrl.address.city"></span>, <span ng-bind="$ctrl.address.regionName"></span>, <span ng-bind="$ctrl.address.countryCode"></span> <span ng-bind="$ctrl.address.postalCode"></span><br>
    <span ng-if="$ctrl.address.phone"><strong>{{ 'customer.addresses.phone' | t }}:</strong>&nbsp;<span ng-bind="$ctrl.address.phone"></span><br></span>
    <span ng-if="$ctrl.address.email"><strong>{{ 'customer.addresses.email' | t }}:</strong>&nbsp;<span ng-bind="$ctrl.address.email"></span><br></span>
    <ng-transclude ng-transclude-slot="footer"></ng-transclude>
</address>
