<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th></th>
            <th>{{ 'customer.order.quantity' | t }}</th>
            <th>{{ 'customer.order.total' | t }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="lineItem in $ctrl.items">
            <td class="col-xs-2 col-md-1">
                <img class="img-responsive" alt="{% raw %}{{ lineItem.name }}{% endraw %}" ng-src="{% raw %}{{ lineItem.imageUrl }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-if="lineItem.imageUrl" />
            </td>
            <td>
                <a ng-bind="lineItem.name" href="{% raw %}{{ 'product/' + lineItem.productId }}{% endraw %}"></a>
                {% if shop.subscription_enabled %}
                <p ng-if="lineItem.paymentPlan">
                    <span ng-bind="'Subscription with a period: ' + lineItem.paymentPlan.intervalCount + ' ' + lineItem.paymentPlan.interval"></span>
                </p>
                {% endif %}
            </td>
            <td>
                <p ng-bind="lineItem.quantity"></p>
            </td>
            <td>
                {% if settings.show_prices_with_taxes %}
                <p ng-bind="lineItem.placedPriceWithTax.formattedAmount"></p>
                <s ng-if="lineItem.listPriceWithTax.amount > lineItem.placedPriceWithTax.amount" ng-bind="lineItem.listPriceWithTax.formattedAmount"></s>
                {% else %}
                <p class="span cost" ng-bind="lineItem.placedPrice.formattedAmount"></p>
                <s ng-if="lineItem.listPrice.amount > lineItem.placedPrice.amount" ng-bind="lineItem.listPrice.formattedAmount"></s>
                {% endif %}
            </td>
            <td>
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-primary btn-xs">Add to cart</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
