<form accept-charset="UTF8" name="memberDetailForm" novalidate="novalidate">
    <div class="form-group" ng-init="$ctrl.setForm(memberDetailForm)">

        <vc-labeled-input value="$ctrl.member.companyName" name="CompanyName" type="text" placeholder="{{ 'customer.register.company_name' | t }}" form="$ctrl.form" required="$ctrl.requiredField('CompanyName')" ng-show="$ctrl.showField('CompanyName')" disabled="$ctrl.disableField('CompanyName')"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.email" name="Email" type="email" placeholder="{{ 'customer.register.email' | t }}" form="$ctrl.form" required="$ctrl.requiredField('Email')" ng-show="$ctrl.showField('Email')" disabled="$ctrl.disableField('Email')"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.firstName" name="FirstName" type="text" placeholder="{{ 'customer.register.first_name' | t }}" form="$ctrl.form" required="true"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.lastName" name="LastName" type="text" placeholder="{{ 'customer.register.last_name' | t }}" form="$ctrl.form"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.title" name="Title" type="text" placeholder="{{ 'customer.register.job_title' | t }}" form="$ctrl.form"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.userName" name="UserName" type="text" placeholder="{{ 'customer.register.user_name' | t }}" form="$ctrl.form" required="$ctrl.requiredField('UserName')" ng-show="$ctrl.showField('UserName')" disabled="$ctrl.disableField('UserName')"></vc-labeled-input>

        <vc-labeled-input value="$ctrl.member.password" name="Password" type="password" placeholder="{{ 'customer.register.password' | t }}" form="$ctrl.form" required="$ctrl.requiredField('Password')" ng-show="$ctrl.showField('Password')" disabled="$ctrl.disableField('Password')"></vc-labeled-input>

        <div ng-show="$ctrl.showField('Password')" ng-class="{'keyuped': $ctrl.form.ConfirmPassword.$viewValue.length, 'error': ($ctrl.form.ConfirmPassword.$dirty || $ctrl.form.$submitted) && $ctrl.form.ConfirmPassword.$invalid }">
            <input ng-model="$ctrl.member.confirmPassword"
                   class="form-control"
                   name="ConfirmPassword"
                   id="ConfirmPassword"
                   placeholder="{{ 'customer.register.confirm_password' | t }}"
                   type="password"
                   ng-required="$ctrl.requiredField('Password')" class="form-input"
                   ng-disabled="$ctrl.disableField('Password')"
                   confirm-password-validation />
            <label for="ConfirmPassword" class="form-label" ng-bind="{{ 'customer.register.confirm_password' | t }}"></label>
            <span class="form-error" ng-if="($ctrl.form.ConfirmPassword.$dirty || $ctrl.form.$submitted) && $ctrl.form.ConfirmPassword.$error.required" ng-bind="$ctrl.requiredError || '{{ 'common.required' | t }}'"></span>
            <span class="form-error" ng-if="($ctrl.form.ConfirmPassword.$dirty || $ctrl.form.$submitted) && !$ctrl.form.ConfirmPassword.$error.required && $ctrl.form.ConfirmPassword.$invalid && $ctrl.form.ConfirmPassword.$error.confirmPasswordValidation">{{ 'common.not_match' | t }}</span>
        </div>

        <div class="form-select">
            <select ng-model="$ctrl.member.role" ng-options="x as x for x in $ctrl.availableRoles" name="Roles" required="required" class="form-control" size="1">
                <option value="">Please select role</option>
            </select>
        </div>
    </div>
</form>
