<ol class="list-group">
    <li class="list-group-item">
        <dl class="dl-horizontal-inverse">
            {% if settings.show_prices_with_taxes %}
                <dt ng-bind="$ctrl.order.subTotalWithTax.formattedAmount"></dt>
                <dd>{{ 'checkout.subtotalWithTax' | t }}</dd>
            {% else %}
                <dt ng-bind="$ctrl.order.subTotal.formattedAmount"></dt>
                <dd>{{ 'checkout.subtotal' | t }}</dd>
            {% endif %}
            {% unless settings.show_prices_with_taxes %}
                <dt ng-if-start="isReview || $ctrl.order.taxTotal.amount > 0" ng-bind="$ctrl.order.taxTotal.formattedAmount"></dt>
                <dd ng-if-end>{{ 'checkout.taxes' | t }}</dd>
            {% endunless %}
            {% if settings.show_prices_with_taxes %}
                <dt ng-if="$ctrl.order.shippingPriceWithTax.amount > 0" ng-bind="$ctrl.order.shippingPriceWithTax.formattedAmount || $ctrl.order.shippingTotalWithTax.formattedAmount"></dt>
                <dt ng-if="$ctrl.order.shippingPriceWithTax.amount == 0" class="text-uppercase">{{ 'checkout.free' | t }}</dt>
                <dd>{{ 'checkout.shippingWithTax' | t }}</dd>
            {% else %}
                <dt ng-if="$ctrl.order.shippingTotal.amount > 0" ng-bind="$ctrl.order.shippingPrice.formattedAmount || $ctrl.order.shippingTotal.formattedAmount"></dt>
                <dt ng-if="$ctrl.order.shippingTotal.amount == 0" class="text-uppercase">{{ 'checkout.free' | t }}</dt>
                <dd>{{ 'checkout.shipping' | t }}</dd>
            {% endif %}
            {% if settings.show_prices_with_taxes %}
                <dt ng-if-start="$ctrl.order.paymentTotal.amount > 0" ng-bind="$ctrl.order.paymentPriceWithTax.formattedAmount"></dt>
                <dd ng-if-end>{{ 'checkout.paymentFeesWithTax' | t }}</dd>
            {% else %}
                <dt ng-if-start="$ctrl.order.paymentTotal.amount > 0" ng-bind="$ctrl.order.paymentPrice.formattedAmount"></dt>
                <dd ng-if-end>{{ 'checkout.paymentFees' | t }}</dd>
            {% endif %}
            {% if settings.show_prices_with_taxes %}
                <dt ng-if-start="isReview || $ctrl.order.discountTotalWithTax.amount > 0" ng-bind="$ctrl.order.discountTotalWithTax.formattedAmount"></dt>
            {% else %}
                <dt ng-if-start="isReview || $ctrl.order.discountTotal.amount > 0" ng-bind="$ctrl.order.discountTotal.formattedAmount"></dt>
            {% endif %}
            <dd ng-if-end>{{ 'checkout.discount' | t }}</dd>
        </dl>
    </li>
    <li class="list-group-item">
        <dl class="dl-horizontal-inverse">
            <dt class="text-success" ng-bind="$ctrl.order.total.formattedAmount"></dt>
            <dd><strong>{{ 'checkout.total' | t }}</strong></dd>
        </dl>
    </li>
    <li class="list-group-item" ng-if="!isComplete">
        <small><a href="">Availability, shipping, tax & promotions</a> are not final until you complete your order.</small>
    </li>
</ol>
