<p>{{ 'layout.customer.account' | t }} <strong>{% raw %}{{ customer.userName }}{% endraw %}</strong></p>
<ul class="account-links">
    <li>
        <a href="account#/orders">{{ 'customer.orders.title' | t }}</a>
    </li>
    <li>
        <a href="account#/">{{ 'customer.invoices.title' | t }}</a>
    </li>
    <li>
        <a href="#">{{ 'customer.lists.title' | t }}</a>
    </li>
</ul>
<div class="aside-actions">
    <a href="{{ 'account' | absolute_url }}">{{ 'layout.customer.view_account' | t }}</a>
</div>
