 {% form 'customer_login' %}

 <vc-errors message="errorMessage" errors="errors"></vc-errors>

<fieldset ng-keypress="login($event)">

    <div class="form-group">
        <div class="row">
            {% comment %} <vc-labeled-input value="userName" form="customer_login" name="customer[user_name]" placeholder="{{ 'customer.sign-in.user_name' | t }}" required="true"></vc-labeled-input> {% endcomment %}
            {% comment %} <vc-labeled-input value="password" form="customer_login" name="customer[password]" placeholder="{{ 'customer.sign-in.password' | t }}" type="password" required="true"></vc-labeled-input> {% endcomment %}
            <div class="col-md-12" ng-class="{'has-error': customer_login['customer[user_name]'].$invalid && !customer_login['customer[user_name]'].$pristine }">
                <input class="form-control" ng-model="username" name="customer[user_name]" required placeholder="{{ 'customer.sign-in.user_name' | t }}" />
                <span class="help-block text-danger" ng-show="!customer_login['customer[user_name]'].$pristine && customer_login['customer[user_name]'].$error.required">{{ 'common.required' | t }}</span>
            </div>
            <div class="col-md-12" ng-class="{'has-error': customer_login['customer[password]'].$invalid && !customer_login['customer[password]'].$pristine }" style="margin-top:15px">
                <input class="form-control" ng-model="password" name="customer[password]" required placeholder="{{ 'customer.sign-in.password' | t }}" />
                <span class="help-block text-danger" ng-show="!customer_login['customer[password]'].$pristine && customer_login['customer[password]'].$error.required">{{ 'common.required' | t }}</span>
            </div>
        </div>
    </div>

    {% if template != 'customers/login' %}
    <div class="form-group">
        {% include 'customers/forgot-links' %}
    </div>
    {% endif %}

    {% if template != 'customers/login' %}
    <div class="row">
        <div class="col-md-8">
            {% else %}
            <div class="form-group">
                {% endif %}
                <button class="btn btn-primary btn-block">{{ 'customer.sign-in.sign_in' | t }}</button>
                {% if template != 'customers/login' %}
            </div>
            {% endif %}
            {% if template != 'customers/login' %}
            <div class="col-md-4">
                {{ 'layout.customer.register' | t | customer_register_link | replace: 'a href', 'a class="btn btn-link" href' }}
            </div>
            {% endif %}
        </div>

        {% if template == 'customers/login' %}
        <div class="form-group">
            {% include 'customers/forgot-links' %}
        </div>
        {% endif %}
</fieldset>
{% endform %}
